<section class="banner--other-apps">
    <h2 class="banner--other-apps__title">Otras Apps disponibles en Totalplay</h2>
    <section id="otherApps">
        <div class="other__apps">
            <a href="/netflix.html"><img src="assets/img/template/logo_netflix.png" alt="" ></a>
            <a href="/hbo.html"><img src="assets/img/template/logo_hbo.png" alt=""></a>
            <a href="/blim.html"><img src="assets/img/template/logo_blim.png" alt=""></a>
            <a href="/fox.html"><img src="assets/img/template/logo_fox.png" alt=""></a>
        </div>
    </section>
</section>
<section class="terms_conditions">
    <span>
        Términos y condiciones
    </span>
    <span>
        Consulta términos y condiciones de los paquetes, características, servicios adicionales y documentos relacionados <i>aquí</i>.
    </span>
    <span>
        Para navegar a la máxima velocidad de descarga contratada, se recomienda conectarse vía alámbrica utilizando un cable ethernet. Las velocidades de transferencia de internet se ofrecen hasta la velocidad indicada y pueden variar debido al tráfico y transferencia de datos fuera de la red de totalplay. Las velocidades de carga varían en los planes debido a que el servicio de internet es asimétrico: para planes tripleplay y dobleplay inicial 1mbps, esencial 3mbps, básico 6mbps, práctico 8mbps, familiar 10mbps, total 20mbps, premium 30mbps y sin límite 50mbps.
    </span>
</section>