<section id="container-BlackCards-Landings" class="main-container-BlackCards-Landings">
    <div class="blackCard-Landings" id="tarjetasCanales"></div>
     <div class="main-div-multiscreen">
        <img src="assets/img/template/netflix/multiscreen.png" alt="" id="multiscreen">
    </div>
    <div class="main-div-text-BlackCards">
        <div class="div-container-black-title" id="descripcionLandingsCanales">
            
        </div>
        <div class="div-container-btn-canales boton-chat">Contrata ahora</div>
    </div>
    <div class="div-buttom-tv"></div>
    
</section>