<section id="questions" class="section-template-questions">
    <section class="accordion-template" role="tablist" aria-live="polite" data-behavior="accordion">
        <h2 class="banner--questions__title">Preguntas frecuentes</h2>
        <article class="accordion-template__item js-show-item-default" data-binding="expand-accordion-item">
            <span id="tab1" tabindex="0" class="accordion__title" aria-controls="panel1" role="tab" aria-selected="false" aria-expanded="false" data-binding="expand-accordion-trigger">
                <h5>¿Cómo pagar con cargo al estado de cuenta Totalplay?</h5>
            </span>
            <div id="panel1" class="accordion__content" role="tabpanel" aria-hidden="true" aria-labelledby="tab1" data-binding="expand-accordion-container">
                <div class="accordion__content-inner">
                    <p>asdfghj asdfghjk asdfkl asdfghjkl sdfghjk sdfghjk asdfghjk asdfghjk sdfghjk asdfghjkl asdhj </p>
                </div>
            </div>
        </article>
        <article class="accordion-template__item  js-show-item-default" data-binding="expand-accordion-item">
            <span id="tab2" tabindex="0" class="accordion__title" aria-controls="panel2" role="tab" aria-selected="false" aria-expanded="false" data-binding="expand-accordion-trigger">
                <h5>Sobre problemas de facturación o cambio de tarjeta para pago</h5>
            </span>
            <div id="panel2" class="accordion__content" role="tabpanel" aria-hidden="true" aria-labelledby="tab2" data-binding="expand-accordion-container">
                <div class="accordion__content-inner">
                    <p>Para más información acerca de cómo usar Netflix y para cualquier problema relacionado con la cuenta, tales como consultas de facturación o cambio de tarjeta de crédito visita el Centro de Ayuda:<i style="color: #1a76d2;text-decoration: underline;cursor: pointer;"> https://help.netflix.com/help</i></p>
                </div>
            </div>
        </article>
        <article class="accordion-template__item  js-show-item-default" data-binding="expand-accordion-item">
            <span id="tab3" tabindex="0" class="accordion__title" aria-controls="panel3" role="tab" aria-selected="false" aria-expanded="false" data-binding="expand-accordion-trigger">
                <h5>¿Cómo usar Prime Video en Totalplay si NO tengo cuenta?</h5>
            </span>
            <div id="panel3" class="accordion__content" role="tabpanel" aria-hidden="true" aria-labelledby="tab3" data-binding="expand-accordion-container">
                <div class="accordion__content-inner">
                    <div class="contentLanding">
                        <div class="videoLanding">
                        </div>
                        <div style="width: 519px;"> 
                            <p>Ingresa a <i style="color: #1a76d2;text-decoration: underline;cursor: pointer;">primevideo.com/WatchOnTotalplay </i>y empieza tu periodo de prueba de 30 días gratis.
                            </p>
                        </div>
                    </div>
                    <div style="height: 1px;	width: 880px;	background-color: #F5F5F5;margin-bottom: 20px; margin-top: 20px;"></div>
                    <div class="contentLanding"  style="top:20px;">
                        <div class="videoLanding">
                        </div>
                        <div style="width: 519px;"> 
                            <p>Selecciona “crea una cuenta nueva en Amazon” y regístrate.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</section>