<div class="main-template--video__logo">
    <div class="content-video">
        <div class="gradient"></div>
        <video id="videoLanding"  autoplay="" loop="" muted=""
           src="assets/media/landings/ComedyCentral.mp4"></video>
    </div>
    
    <div class="container-icon-reprod">
        <div >
            <img src="assets/img/template/volume_off_24px.png" alt="" id="DisableMuted" >
            <img src="assets/img/template/volume_off_24px.png" style="display: none;" alt="" id="EnableMuted" >
            <img src="assets/img/template/fullscreen_24px.png"  style="" alt="" id="maxVideo" >
        </div>
    </div>

    

    <div class="container_icons_" id="container_icons_">
          <div class="main-div-Logo" id="logo_">
              <img  alt="" >
          </div>

          <div id="botonVideo" class="div-container-btn-landings">Suscríbete ahora</div>
      </div>
</div>

<section class="container-detail-video">
    <a href="#sctn2" class="btn_transparent_landing" style="color: white;">Descubre más</a>
    <div class="main-div-Logo" id="logo__">
        <img  alt="">
    </div>
    
    <div class="main-div-text-Slider">
        <div class="div-container-black-title" id="descripcionTemplate">
            
        </div>
    </div>
    <div>
        <section id="sliderLandings">
            <div class="slider">
                <div class="slide-track" id="carruselLanding"></div>
          </div>
        </section>
    </div>
    <div class="div-buttom-tv"></div>
    <div class="div-container-btn-landings boton-chat">Suscríbete desde $129/mes</div>
  
</section>
    