<section id="container-TV" class="main-container-TV" style="background-color: #E0E0E0;">
    <div class="space" id="spaceOne">
    	<div id="imagenFondo" class="imagenFondo"></div>
    	<div class="main-div-tv" id="TvOnDemand_"></div>
    </div>
    <div class="main-div-ctb skrollable skrollable-after" data-2801="background-size: 130% auto;margin:0 0 60px 0" data-2900="background-size: 100% auto; margin:-40px 0 0 0"></div>
   <div class="main-div-text-tv">
        <div class="div-container-text-title">
            <p>La mejor experiencia en <span id="idLanding"></span> <span>#SoloConTotalplay</span></p>
        </div>
        <div class="div-container-text-subTitle" id="tvSubtitulo"></div>
        <div class="div-container-btn-canales boton-chat">Suscríbete desde $129/mes</div>
    </div>
    <div class="div-buttom-tv"></div>
</section>
