.applause{
    width: 100%;
    position: absolute;
    z-index: 9;
    transition: 0.3s;
    bottom: 50px;
    @include flex-box('row', center, center);
    @include break-point('800') {
        bottom: 40px;
    }
    @include break-point('1100'){
        position: sticky;
        width: 100%;
        top: 385px;
        bottom: auto;
        margin-top: 0px;
        margin-bottom: 30px;
        overflow: hidden;
    }
    & > applause-button {
        @include break-point('1100'){
            right: -70px;
        }
    }

    &.active {
        overflow: visible;
        & > applause-button {
            right: 46px;
            @include break-point('1400'){
                right: 76px;
            }
            @include break-point('1700'){
                right: 84px;
            }
        }
    }

    &.inactive{
        & > applause-button {
            @include break-point('1100'){
                right: -100px;
            }
        }
    }

}

applause-button{
    cursor: pointer;
    position: absolute;
    width: 42px;
    height: 42px;
    transition: 0.3s;
    bottom: 0px;
    @include break-point('800'){
    width: 64px;
    height: 64px;
    }
}
applause-button .style-root{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
}
applause-button .style-root:before{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content:" ";
    display:block;
    border-radius:50%;
    background-color: $gray-100;
}
applause-button .style-root:after{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content:" ";
    display:block;
    border-radius:50%;
    border:1px solid $blue-1000;
    
}
applause-button .style-root:hover:after:not(.clap-limit-exceeded){
    border-color:inherit
}
applause-button.loading{
    opacity:0.5;
}
applause-button .shockwave{
    position:absolute;
    top:0px;
    left:0;
    right:0;
    bottom:0;
    border-radius:50%;
}
applause-button svg{
    position:absolute;
    width:60%;
    height:60%;
    margin-left:20%;
    margin-top:20%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0.8;
    stroke:none;
    overflow:visible;
    fill: $blue-1000;
    color: $blue-1000;
}
applause-button svg g.flat{
    visibility:hidden;
}
applause-button svg g.outline{
    visibility:visible;
}
applause-button.clapped svg g.flat{
    visibility:visible;
}
applause-button.clapped svg g.outline{
    visibility:hidden;
}
applause-button .count{
    cursor: default;
    transition: 0.3s;
    position: relative;
    margin-left: 11px;
    top: 15px;
    width: 47px;
    max-width: 194px;
    text-align:center;
    color:gray;
    user-select:none;
    display: none;
    font-weight: 500;
    @include text-font-regular(12px, $blue-1000);
    @include break-point('800'){
        width: 92px;
        top: 20px;
        @include text-font-regular(20px, $blue-1000);
    }
    @include break-point('1100'){
        right: 0;
        top:-44px;
        margin-bottom: 24px;
        margin-left: 0;
        width: 64px;
        @include text-font-semibold(24px, $blue-1000);
    }
}
applause-button .count:after{
    content: "claps";
    margin-left: 3px;
    @include break-point('800'){
        right:-51px;
    }
    @include break-point('1100'){
        display: none;
    }
}
applause-button g.sparkle circle{
    opacity:0;
    stroke-width:0;
}
applause-button g.sparkle g:nth-child(1){
    transform:rotate(0deg) translateX(10px);
}
applause-button g.sparkle g:nth-child(2){
    transform:rotate(72deg) translateX(10px);
}
applause-button g.sparkle g:nth-child(3){
    transform:rotate(144deg) translateX(10px);
}
applause-button g.sparkle g:nth-child(4){
    transform:rotate(216deg) translateX(10px);
}
applause-button g.sparkle g:nth-child(5){
    transform:rotate(288deg) translateX(10px);
}
applause-button:hover:not(.clapped) .shockwave{
    animation-name:shockwave;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in;
}
applause-button.clap{
    animation-name:pulse;
    animation-duration:0.5s;
    animation-iteration-count:1;
}
applause-button.clap .sparkle circle{
    animation-name:explode;
    animation-duration:0.5s;
    animation-iteration-count:1;
}
applause-button.clap .count{
    animation-name:hideThenShow;
    animation-duration:0.5s;
    animation-iteration-count:1;
}
@keyframes explode{
    0%{
        transform:translateX(10px);opacity:0;
    }
    20%{
        opacity:1;
    }50%{
        opacity:1;
    }
    100%{
        opacity:0;
        transform:translateX(25px);
    }
}
@keyframes shockwave{
    0%{
        transform:scale(1);
        box-shadow:0 0 2px;
        opacity:1;
    }
    100%{
        transform:scale(1);
        opacity:0;
        box-shadow:0 0 50px, inset 0 0 10px;
    }
}
@keyframes pulse{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.1);
    }
    100%{
        transform:scale(1);
    }
}
@keyframes hideThenShow{
    0%{
        opacity:1;
        transform:translateY(0);
    }
    20%{
        opacity:0;
        transform:translateY(-10px);
    }
    50%{
        transform:translateY(10px);
    }
    80%{
        transform:translateY(10px);
        opacity:0;
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}
