/*Minimals*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*Maximals*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .mainVideoBanner {
        height: 110vh;
    }

    .mainVideoBannerSecond {
        height: 100vh;
    }

    .videoTextContainerSecond .videoTextContentSecond img {
        width: 90px;
    }

    .mainCompaniesContainer {
        margin-bottom: 4rem !important;
    }

    /*Breakpoints 08/09/20*/
    .advantageDescription h2,
    .advantageDescription p {
        text-align: center !important;
    }

    .headerPackages .headerPackagesContent .titleRowPackages h1 {
        font-size: 30px !important;
    }

    .headerPackages .headerPackagesContent .headerPackagesContainer {
        top: -2vh !important;
    }

    .headerPackages {
        height: 93vh !important;
    }

    .headerPackages .imageBackcontainer img {
        width: 135%;
        left: -35%;
    }

    .bestPackageImageContainer {
        padding-left: 15px;
    }

    .bestPackageImageContainer h1 {
        font-size: 28px;
    }

    .packageAdvantages .advantagesTitle h1 {
        font-size: 30px;
    }

    .bestPackageImageContainer .bestPackageDescription {
        font-size: 16px;
    }

    .bestPackageImageContainer .generalButton {
        font-size: 17px;
    }

    .landingPackageResume .landingPackagePrice .priceContainer {
        text-align: left;
        padding: 20px 20px;
    }

    .landingPackageResume .landingPackagePrice .priceContainer p {
        font-size: 12px;
        text-align: left;
        line-height: 16px;
    }

    .landingPackageResume .landingPackagePrice .priceContainer h1 {
        font-size: 26px;
        line-height: 36px;
        text-align: left;
    }

    .landingPackageResume .landingPackagePrice .priceContainer span {
        font-size: 12px;
        line-height: 16px;
        text-align: left;
    }

    .landingPackageResume .landingPackagePrice .priceContainer .buttonContainer .generalButton {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        display: block;
    }

    .landingPackageResume .landingPackagePrice .priceContainer .buttonContainer .generalButton span::after {
        display: none;
    }

    .topBar .barList li {
        margin-right: 10px;
    }

    .topBar .barList li a {
        font-size: 14px;
    }

    /*Breakpoints 08/09/20*/
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .headerBanner a.mobileHidden {
        display: block;
    }

    .headerBanner a.desktopHidden {
        display: none;
    }

    header .topMenu .locationButton a {
        display: block;
        text-align: center;
    }

    .bannersContainers .headerBanner hr {
        margin-top: 0;
        position: relative;
        top: -1rem;
        width: 90%;
    }

    .bannersContainers {
        top: 6.8rem;
    }

    .videoContainer video {
        width: 100% !important;
        left: 50%;
    }

    .videoContainer:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        z-index: 9;
        left: 0;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#211b2a+0,211b2a+70,211b2a+98&0+0,1+70,1+100 */
        background: -moz-linear-gradient(
            top,
            rgba(33, 27, 42, 0) 0%,
            rgba(33, 27, 42, 1) 70%,
            rgba(33, 27, 42, 1) 98%,
            rgba(33, 27, 42, 1) 100%
        );
        /* FF3.6-15 */
        background: -webkit-linear-gradient(
            top,
            rgba(33, 27, 42, 0) 0%,
            rgba(33, 27, 42, 1) 70%,
            rgba(33, 27, 42, 1) 98%,
            rgba(33, 27, 42, 1) 100%
        );
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to bottom,
            rgba(33, 27, 42, 0) 0%,
            rgba(33, 27, 42, 1) 70%,
            rgba(33, 27, 42, 1) 98%,
            rgba(33, 27, 42, 1) 100%
        );
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00211b2a', endColorstr='#211b2a', GradientType=0);
        /* IE6-9 */
    }

    .videoTextContainer .row h2 {
        margin-bottom: 0;
    }

    .videoTextContainer .row:nth-child(2) {
        margin-bottom: 1em;
        height: auto;
    }

    .videoTextContainer .row:nth-child(3) {
        margin-bottom: 2rem;
        height: auto;
    }

    .videoTextContainer .row:nth-child(4) {
        margin-bottom: 2rem;
        height: auto;
    }

    .videoTextContainer .videoTextContent {
        position: absolute;
        top: 40vh;
    }

    .videoTextContainer h1 {
        font-size: 30px;
    }

    .videoTextContainer h2 {
        font-size: 18px;
    }

    .videoTextContainer .onDemandButton a img {
        width: 75px;
    }

    .videoTextContainer {
        text-align: center;
        top: 10%;
    }

    .videoTextContainerSecond .videoTextContentSecond .imagesAppsContainer {
        background: transparent;
        top: 5rem;
    }

    .cardsRow .card .card-body .card-title {
        font-size: 24px;
    }

    .cardsRow .card .card-body .appImage a img {
        width: 120px;
        margin: 0 auto;
    }

    .packagesContainer .titlePackages h1 {
        font-size: 20px;
    }

    .entrepreneur {
        margin-top: 15rem;
    }

    .servicesCollapsible,
    .productsCollapsible,
    .supportCollapsible,
    .contactsCollapsible {
        display: none;
    }

    .chevronServices,
    .chevronProducts,
    .chevronSupport,
    .chevronContact {
        display: inline-block !important;
    }

    /*Breakpoints 08/09/20*/
    .advantageDescription h2,
    .advantageDescription p {
        text-align: left;
    }

    .paquetesClasicosTitulos,
    .iconsRow p {
        text-align: center;
    }

    .paquetesClasicosHeader .paquetesClasicosContainer {
        padding-top: 12vh !important;
        text-align: center;
    }

    .paquetesClasicosHeader .paquetesClasicosContainer p {
        margin-bottom: 2vh;
    }

    .unboxCarousel .carouselContainer .itemCarousel h1,
    .unboxCarousel .carouselContainer .itemCarousel p {
        text-align: center;
    }

    .unboxCarousel .carouselContainer .itemCarousel img {
        margin-bottom: 2rem;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 30px;
    }

    .slick-next {
        right: 30px;
        z-index: 10000;
    }

    .slick-prev {
        left: -5px;
        z-index: 10000;
    }

    .headerPackages {
        height: 110vh;
    }

    .headerPackages .headerPackagesContent .titleRowPackages h1 {
        font-size: 30px;
    }

    .unboxCarousel .carouselTitles h1 {
        font-size: 24px;
    }

    .unboxCarousel .carouselContainer .itemCarousel {
        text-align: center;
    }

    .unboxCarousel .carouselContainer .itemCarousel h1 {
        font-size: 20px;
    }

    .unboxCarousel .carouselContainer .itemCarousel p {
        font-size: 16px;
    }

    .unboxCarousel .carouselContainer .itemCarousel img {
        margin: 0 auto;
        width: 75%;
        margin-bottom: 1rem;
    }

    .landingPackageResume .landingPackageTitle h1 {
        font-size: 16px;
    }

    .landingPackageResume .landingPackageDescription h2 {
        font-size: 18px;
    }

    .landingPackageResume .resumeColumns .resumeItem p {
        font-size: 18px;
    }

    .landingPackageResume .resumeColumns .resumeItem span {
        font-size: 14px;
    }

    .landingFullWidthBanner .landingBannerArt img {
        width: 85%;
        margin-top: 3rem;
    }

    .headerPackages {
        height: 97vh !important;
    }

    /*Breakpoints 08/09/20*/
}

@media (max-width: 767.98px) and (orientation: landscape) {
    .mainVideoBanner {
        height: 170vh;
    }

    .mainVideoBannerSecond {
        height: 230vh;
    }

    .videoContainerSecond video {
        height: 100vh;
    }

    .videoTextContainer {
        padding-top: 16vh;
    }

    .videoTextContainer .videoTextContent {
        padding-top: 8%;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    header .mainNav .logoContainer {
        text-align: center;
        margin: 0 auto;
    }

    .headerBanner p a.mobileHidden {
        display: none;
    }

    .headerBanner p a.desktopHidden {
        display: block;
    }

    .bannersContainers .headerBanner hr {
        margin-top: 0;
        position: relative;
        top: -1rem;
        width: 100%;
    }

    header .mainNav ul.userMenu {
        float: right;
    }

    header .mainNav ul.userMenu li a span {
        display: none;
    }

    header .mainNav ul.userMenu li:first-child a span {
        display: none;
    }

    header .mainNav ul.userMenu li:nth-child(3) a span {
        display: none;
    }

    header .mainNav ul.desktopNav li a {
        font-size: 14px;
    }

    .menuDropShadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .bannersContainers .headerBanner p {
        font-size: 16px;
        margin-bottom: 0.5rem;
    }

    .videoTextContainer h2 {
        margin-bottom: 1rem;
    }

    .videoTextContainerSecond h1 {
        font-size: 30px;
    }

    .videoTextContainerSecond h2 {
        font-size: 18px;
    }

    .mainContainerpackage {
        margin-bottom: 2rem;
    }

    footer .footerColumn:nth-child(4) {
        margin-bottom: 1rem;
    }

    footer .footerColumn:nth-child(5),
    footer .footerLegals {
        text-align: center;
    }

    footer .footerLegals img {
        margin-top: 2rem;
    }

    footer .footerLegals ul li a {
        line-height: normal;
    }

    .modalCityPicker .citySearchBar .autocompleteList {
        width: 84%;
    }

    /**/
    .paquetesClasicosHeader .paquetesClasicosContainer {
        padding-top: 10vh;
    }

    .paquetesClasicosHeader .paquetesClasicosContainer p {
        margin-bottom: 2vh;
    }

    .paquetesClasicosHeader.unbox pre {
        margin-top: 2rem;
    }

    .paquetesClasicosHeader.unbox p,
    .paquetesClasicosHeader.match p {
        margin-bottom: 2rem;
    }

    .headerPackages {
        height: 74vh;
    }

    .generalPackage {
        height: 226px;
    }

    .generalPackage h1 {
        font-size: 30px !important;
    }

    .generalPackage p {
        font-size: 20px;
    }

    .generalPackage .iconsRow {
        font-size: 25px;
    }

    /**/
}

@media (max-width: 1200px) {
    .headerBanner p a.mobileHidden {
        display: none !important;
    }

    .modalCityPicker .citySearchBar .autocompleteList {
        width: 84%;
    }

    .headerPackages .headerPackagesContent .titleRowPackages {
        top: -5vh;
    }

    .headerPackages .headerPackagesContent .headerPackagesContainer {
        top: -2vh;
    }

    .headerPackages .headerPackagesContent .titleRowPackages h1 {
        font-size: 48px;
    }

    .generalPackage h1 {
        font-size: 36px;
    }

    .generalPackage p {
        font-size: 24px;
    }

    .generalPackage .iconsRow {
        font-size: 28px;
    }

    .headerPackages {
        height: 60vh;
    }
}

/* Galaxy S10 ----------- */
@media only screen and (min-device-height: 412px) and (min-device-width: 869px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3.5) {
    .mainVideoBanner {
        height: 170%;
    }

    .mainVideoBannerSecond {
        height: 200%;
    }
}

@media only screen and (min-device-height: 412px) and (min-device-width: 869px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3.5) {
    .mainVideoBanner {
        height: 200%;
    }

    .mainVideoBannerSecond {
        height: 220%;
    }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .mainVideoBanner {
        height: 180%;
    }

    .videoTextContainer {
        text-align: center;
        top: 20%;
    }

    .headerPackages {
        height: 153vh !important;
    }

    .videoTextContainer .videoTextContent {
        padding-top: 10%;
    }
    .headerPackages {
        height: 264vh !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .mainVideoBanner {
        height: 115vh;
    }

    .mainVideoBannerSecond {
        height: 117vh;
    }

    .videoTextContainer {
        text-align: center;
        top: 15vh;
    }

    .videoTextContainer .videoTextContent {
    }

    .videoTextContainerSecond .videoTextContentSecond img {
        width: 70px;
    }

    .paquetesClasicosHeader .paquetesClasicosContainer .paquetesClasicosTitulos {
        margin-top: 3rem;
    }

    .headerPackages {
        height: 153vh !important;
    }

    .slick-next {
        right: 32px;
        z-index: 10000;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .headerPackages {
        height: 173vh !important;
    }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .headerPackages {
        height: 283vh !important;
    }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .headerPackages {
        height: 264vh;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .headerPackages {
        height: 152vh !important;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .mainVideoBanner {
        height: 90%;
    }

    .mainVideoBannerSecond {
        height: 115%;
    }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .headerPackages {
        height: 230vh !important;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .headerPackages {
        height: 129vh !important;
    }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .mainVideoBanner {
        height: 110vh;
    }

    .mainVideoBannerSecond {
        height: 110%;
    }

    .headerPackages {
        height: 129vh !important;
    }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .mainVideoBanner {
        height: 160vh;
    }

    .mainVideoBannerSecond {
        height: 230vh;
    }

    .videoTextContainer {
        top: 45vh !important;
    }

    .videoTextContainer .videoTextContent {
        padding-top: 8%;
        text-align: center;
    }

    .videoTextContainer h1 {
        font-size: 30px;
    }

    .videoTextContentSecond .onDemandButton {
        display: none;
    }

    .videoContainerSecond video {
        height: 100vh;
    }

    .videoTextContainerSecond {
        padding-top: 16%;
    }

    .videoTextContainerSecond .videoTextContentSecond {
    }

    .headerPackages {
        height: 230vh !important;
    }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .videoTextContainer {
        text-align: center;
        top: 9vh;
    }

    .videoTextContainer .videoTextContent {
    }

    .headerPackages {
        height: 76vh;
    }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .mainVideoBanner {
        height: 75%;
    }

    .mainVideoBannerSecond {
        height: 75%;
    }

    .headerPackages {
        height: 76vh;
    }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .headerPackages {
        height: 86vh;
    }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .mainVideoBanner {
        height: 65%;
    }

    .mainVideoBannerSecond {
        height: 55%;
    }

    .videoTextContainer {
        top: 5vh;
    }

    .headerPackages {
        height: 56vh;
    }
}

/* Landscape */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .mainVideoBannerSecond {
        height: 80%;
    }
}
