#sectionChat {
    width: 83px;
    height: 83px;
    border-radius: 50%;
    right: 20px;
    transition: 0.3;
    z-index: 50;
    bottom: 60px;
    top: 590px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sectionChat > ul > li > a:after {
    content: unset;
}

.menu-movil__help {
    width: 180px;
    height: 48px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6.2%;
}

.menu-help-robot + label {
    width: 54px;
    height: 54px;
    z-index: 1;
    border-radius: 50%;
    background-image: url(../../img/header/ic-app-chat.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: top 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, top 0.5s;
    transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.menu-help-robot {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 54px;
    height: 54px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.menu-help-robot:checked + label {
    background: #3b4559;
    background-image: url(../../img/header/close_24px.png);
    background-position: 50%;
    background-repeat: no-repeat;
    transition: top 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, top 0.5s;
    transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
}

.menu-help-robot + label:before {
    content: "AYUDA EN LÍNEA";
    position: absolute;
    height: 30px;
    width: 80px;
    background-color: #3b4559;
    bottom: 0;
    left: 50%;
    top: 55px;
    z-index: 10;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #fafafa;
    line-height: normal;
    text-align: center;
    border-radius: 8px;
    transform: translateX(-50%) translateY(75%);
}

.menu-item-help {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 64px;
    height: 64px;
    display: block;
    opacity: 0;
    transition: 0.2s;
}

#whatsAppChat {
    background-color: #25d366;
}

.menu-item-help:first-child a {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.menu-help-robot:checked ~ ul .menu-item-help:first-child {
    -webkit-transform: rotate(0deg) translateX(-114px);
    transform: rotate(0deg) translateX(-114px);
}

.menu-help-robot:checked ~ ul .menu-item-help:nth-child(2) {
    webkit-transform: rotate(45deg) translateX(-114px);
    transform: rotate(45deg) translateX(-114px);
}

.menu-help-robot:checked ~ ul .menu-item-help:nth-child(3) {
    -webkit-transform: rotate(90deg) translateX(-114px);
    transform: rotate(90deg) translateX(-114px);
}

.menu-help-robot:checked ~ ul .menu-item-help {
    opacity: 1;
}

.menu-item-help a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 55px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    /*font-size: 40px;*/
    pointer-events: none;
    transition: 0.2s;
    /*padding-top: 6px;*/
    padding-left: 2px;
}

.menu-movil__help img {
    margin-right: 3.1%;
    width: 40px;
}

#messageChat {
    background-color: #76c1e8;
}

.menu-help-robot:checked ~ ul .menu-item-help a {
    pointer-events: auto;
}

.menu-item-help:nth-child(2) a {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#phoneChat {
    background-color: #9767bd;
}

.menu-item-help:nth-child(3) a {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

@media (min-width: 1366px) {
    #sectionChat {
        right: 54px;
    }
}

@media (min-width: 1024px) {
    #sectionChat {
        top: 630px;
    }

    .menu-help-robot + label:before {
        width: 123px;
        height: 18px;
        line-height: 20px;
        margin-bottom: 8px;
    }
}

@media (min-width: 768px) {
    #sectionChat {
        width: 137px;
        height: 88px;
        right: 23px;
        top: 630px;
    }

    .menu-item-help a {
        line-height: 55px;
    }
}

@media (min-width: 500px) {
    #sectionChat {
        right: 30px;
    }

    .menu-help-robot + label:before {
        font-size: 12px;
    }
}

@media (min-width: 360px) {
    .menu-item-help a {
        line-height: 60px;
    }
}

@media (min-width: 375px) {
    #sectionChat {
        right: 35px;
        bottom: 48px;
    }

    .menu-item-help {
        right: 33px;
    }

    .menu-movil__help img {
        width: 64x;
        height: 64px;
        margin-top: 16.2%;
    }

    .menu-help-robot {
        right: 38px;
    }
}

@media (min-width: 500px) {
    .menu-movil__help {
        width: 240px;
        height: 48px;
    }

    .menu-movil__help img {
        width: 36px;
        height: 36px;
    }
}
