<div class="help-container" id="totalplayAyuda">
    <h1>¿En qué podemos ayudarte?</h1>

    <div class="help-items-container">

        <div class="help-items">
            <span>Asistencia para clientes</span>
            <span class="aux_title">Te ayudamos con cualquier duda, tus estados de cuenta, formas de pago y otros.</span>
        
            <div class="item-container" id="chatAC">
                <div class="item-img">
                    <img src="assets/img/iconos/forum_24px@4x.png" alt="">
                </div>
                <div class="item-text" >
                    <p class="item-text-blue">Chat de Asistencia</p>
                </div>
            </div>
            

            <div class="item-container">
                <div class="item-img">
                    <img src="assets/img/iconos/call_24px@4x.png" alt="">
                </div>
                <div class="item-text">
                    <span>Asistencia con tu cuenta</span>
                    <a href="tel:5515798000" class="item-text-blue" style="font-size: 24px;">55 1579 8000</a>
                    <span>L-D de 7:00 a.m. a 11:00 p.m.</span>
                </div>
            </div>

            <div class="item-container">
                <div class="item-img">
                    <img src="assets/img/iconos/call_24px@4x.png" alt="">
                </div>
                <div class="item-text">
                    <span>Cargos recurrentes</span>
                    <a href="tel:5515798000" class="item-text-blue" style="font-size: 24px;">55 1579 8000</a>
                    <span>L-D de 7:00 a.m. a 11:00 p.m.</span>
                </div>
            </div>

        </div>
    
        <div class="items-separator"></div>
    
        <div class="help-items">
            <span>Soporte Técnico</span>
            <span class="aux_title">Alguno de tus dispositivos presenta una falla, te damos la solución.</span>
        
            <div class="item-container" id="chatST">
                <div class="item-img">
                    <img src="assets/img/iconos/forum_24px@4x.png" alt="">
                </div>
                <div class="item-text">
                    <p class="item-text-blue">Chat de Soporte Técnico</p>
                </div>
            </div>

            <div class="item-container">
                <div class="item-img">
                    <img src="assets/img/iconos/call_24px@4x.png" alt="">
                </div>
                <div class="item-text">
                    <span>CDMX y área metropolitana</span>
                    <a href="tel:5515798000" class="item-text-blue" style="font-size: 24px;">55 1579 8000</a>
                    <span>Los 365 días del año.</span>
                </div>
                    
            </div>

            <div class="item-container">
                <div class="item-img">
                    <img src="assets/img/iconos/call_24px@4x.png" alt="">
                </div>
                <div class="item-text">
                    <span>Interior de la república</span>
                    <a href="tel:8005100510" class="item-text-blue" style="font-size: 24px;">800 5100 510</a>
                    <span>Los 365 días del año.</span>
                </div>
            </div>

        </div>
        
    </div>
    
</div>
