<!--<div class="documents-container" >
    
    <div class="manuals-list">

        <span class="title-list" id="manuales">Manuales</span>

        <div class="manuals-item-list">
            
            <div class="manual-item" onclick="window.open('{{root}}pdf/manual-totalplay-donde-sea.pdf', '_blank');">
                <div class="img-container">
                    <img src="assets/img/pages/asistencia/imagen@3x1.png" alt="">
                </div>
                <span>App Totalplay Donde sea</span>
            </div>

            <div class="manual-item" onclick="window.open('{{root}}pdf/conoce-tu-estado-de-cuenta.pdf', '_blank');">
                <div class="img-container">
                    <img src="assets/img/pages/asistencia/imagen@3x2.png" alt="">
                </div>
                <span>Estado de cuenta</span>
            </div>

            <div class="manual-item" onclick="window.open('{{root}}pdf/manual-softphone-2-1.pdf', '_blank');">
                <div class="img-container">
                    <img src="assets/img/pages/asistencia/imagen@3x3.png" alt="">
                </div>
                <span>App Teléfono DoblePlay</span>
            </div>
            <div class="manual-item" onclick="window.open('{{root}}pdf/manual-softphone.pdf', '_blank');">
                <div class="img-container">
                    <img src="assets/img/pages/asistencia/imagen@3x3.png" alt="">
                </div>
                <span>App Teléfono TriplePlay</span>
            </div>    
            <div class="manual-item" onclick="window.open('{{root}}pdf/manual-control-remoto-virtual.pdf', '_blank');">
                <div class="img-container">
                    <img src="assets/img/pages/asistencia/imagen@3x4.png" alt="">
                </div>
                <span>App Control</span>
            </div>

            <div class="manual-item" onclick="window.open('{{root}}pdf/manual-control-remoto-pro-14.pdf', '_blank');">
                <div class="img-container">
                    <img src="assets/img/pages/asistencia/imagen@3x5.png" alt="">
                </div>
                <span>Control remoto Pro 14</span>
            </div>

            <div class="manual-item" onclick="window.open('{{root}}pdf/manualNetgem.pdf', '_blank');">
                <div class="img-container">
                    <img src="assets/img/pages/asistencia/imagen@3x6.png" alt="">
                </div>
                <span>Dispositivo de TV Netgem</span>
            </div>

            <div class="manual-item" onclick="window.open('{{root}}pdf/manual-smart-tv.pdf', '_blank');">
                <div class="img-container">
                    <img src="assets/img/pages/asistencia/imagen@3x7.png" alt="">
                </div>
                <span>App Totalplay en Samsung Smart TV</span>
            </div>       

        </div>-->

        <!--div class="manuals-item-list">
            <div class="manual-item" onclick="window.open('{{root}}pdf/manual-control-remoto-virtual.pdf', '_blank');">
                <div class="img-container">
                    <img src="assets/img/pages/asistencia/imagen@3x4.png" alt="">
                </div>
                <span>App Control</span>
            </div>

            <div class="manual-item" onclick="window.open('{{root}}pdf/manual-control-remoto-pro-14.pdf', '_blank');">
                <div class="img-container">
                    <img src="assets/img/pages/asistencia/imagen@3x5.png" alt="">
                </div>
                <span>Control remoto Pro 14</span>
            </div>

            <div class="manual-item" onclick="window.open('{{root}}pdf/manualNetgem.pdf', '_blank');">
                <div class="img-container">
                    <img src="assets/img/pages/asistencia/imagen@3x6.png" alt="">
                </div>
                <span>Dispositivo de TV Netgem</span>
            </div>

            <div class="manual-item" onclick="window.open('{{root}}pdf/manual-smart-tv.pdf', '_blank');">
                <div class="img-container">
                    <img src="assets/img/pages/asistencia/imagen@3x7.png" alt="">
                </div>
                <span>App Totalplay en Samsung Smart TV</span>
            </div>
        </div-->
    <!--</div>





    <div class="documents-list">

        <span class="title-list">Documentos</span>

        <div class="documents-item-list">

            <div class="document-item" onclick="window.open('{{root}}pdf/clausulado-de-contrato.pdf', '_blank');">
                <img src="assets/img/iconos/description_24px@4x.png" alt="">
                <span>Clausulado de contrato</span>
            </div>

            <div class="document-item" onclick="window.open('{{root}}pdf/formato-de-cesion-de-derechos.pdf', '_blank');">
                <img src="assets/img/iconos/description_24px@4x.png" alt="">
                <span>Cesión de derechos</span>
            </div>
            
            <div class="document-item" onclick="window.open('{{root}}pdf/portabilidad-numerica.pdf', '_blank');">
                <img src="assets/img/iconos/description_24px@4x.png" alt="">
                <span>Formato de portabilidad</span>
            </div>

        </div>

    </div>

</div>