.seo {
	font-family: Montserrat-Regular;
	text-align: center;
	margin: 15px 20px 30px 20px;
	color:#3b4559;
}

.seoTitulo {
	margin: 10px 0px 15px 0px;
	font-size: 18px;
}

.seoTituloBold {
	font-family: Montserrat-Bold;
}

.seoParrafoUno {
	margin-bottom:5px;
}

.seoParrafoDos {
	margin-bottom:5px; 
	font-size: 15px;
}