<section id="internet" class="section-content">

  <div id="headerInternet" class="main-title-flex">
      <div>
          <!-- <img src="assets/img/internet/hdrInternet.svg"> -->
          <h1 class="main-title-section"><div>Internet Totalplay</div></h1>
          <span style="opacity: 0;"></span>
      </div>            
  </div>
  <h2>Conecta con lo que más quieres  <span>a máxima velocidad.</span></h2>
  <div class="laptop" id="laptop" >
    <img src="assets/img/internet/facetime.png">
    <div class="facetime">
        <video class="facetime" src="assets/media/stock-footage-family-video-calling-using-smartphone-during-lunch-at-traditional-village-house-in-italy.mp4" autoplay loop muted></video>
    </div>
    <div style="opacity: 0;" class="icon" id="icon1" data-stellar-ratio="1.1">
        <img src="assets/img/internet/oval.png">
    </div>
    <div style="opacity: 0;" class="icon small" id="icon2" data-stellar-ratio="1.1">
        <img src="assets/img/internet/ovalMessage.png">
    </div>
    <div style="opacity: 0;" class="icon" id="icon3" data-stellar-ratio="1.1">
        <img src="assets/img/internet/ovalPlay.png">
    </div>
    <div style="opacity: 0;" class="icon small" id="icon4" data-stellar-ratio="1.1">
        <img src="assets/img/internet/ovalTV.png">
    </div>
    <div class="picture" id="picture" data-stellar-ratio="1.1">
        <video class="picture" src="assets/media/stock-footage-excited-couple-sharing-ultrasound-pregnancy-photo-reveal-they-are-pregnant-to-family-over-internet.mp4" autoplay loop muted></video>
    </div>
  </div>
  <h3> Internet en todo tu hogar. <span>Hasta 500 Megas↓</span></h3>
  <a class="btn__blue" href="{{root}}paquetes.html#0">Planes con Internet</a>
  <a id="btnInternet" class="btn__transparent_services" href="{{root}}internet.html" target="_blank">Conoce más</a>

</section>