<!--<section id="movil" class="movil section-content">
  <div class="movil--main-title main-title-flex" id="headerMovil">
    <div>
      <h1 class="main-title-section"><div>App</div> Totalplay</h1>
      <span></span>
    </div>               
  </div>
  <h2>Todo lo que buscas está en 
    <span>nuestra App.</span> 
  </h2>
  <div class="movil--content-slider" id="movilContentSlider">
    <div class="content--element-smartphone" id="elementSmartPhone">
      <img src="assets/img/movil/i-phone@3xShadow.png" alt="">
      <div class="element-smartphone__content" id="elementSmartCont" style="background-image: url('assets/img/movil/screen@3xiphone.jpg');"></div>
    </div>
    <div class="content--element-lapTop" id="elementLapTop">
      <img src="assets/img/movil/macbook@3xShadow.png" alt="">
      <div class="element-laptop__content" id="elementLapTopCont" style="background-image: url('assets/img/movil/screen@3xlap.png');"></div>
    </div>
    <div class="content--element-ipad" id="elementIpad">
      <img src="assets/img/movil/tablet@3xShadow.png" alt="">
      <div class="element-ipad__content" id="elementIpadCont" style="background-image: url('assets/img/movil/screen@3xipad.png');"></div>
    </div>
    <div class="content--element-ipad-2" id="elementIpad2">
      <img src="assets/img/movil/group@3x-ipadCase2.png" alt="">
      <div class="element-ipad__content2" id="elementIpadCont2"></div>
    </div>

  </div> 
  <div class="movil--container-menu">
    <ul class="movil--menu-slider" id="menuSlider">
      <div class="selector-menu-lider" id="selectorMenuSlider" style="left:66px; transition: all 600ms ease;"></div>
      <li class="movil--menu-slider__item selectapp active">Tv y OnDemand</li>
      <li class="movil--menu-slider__item selectapp">Control remoto</li>
      <li class="movil--menu-slider__item selectapp">Teléfono</li>
      <li class="movil--menu-slider__item selectapp">Red WiFi</li>
      <li class="movil--menu-slider__item selectapp">Estado de Cuenta</li>
    </ul>
  </div>
  <p class="movil--description"> 
    Lleva contigo lo mejor de Totalplay a donde vayas. Descárgala sin costo.
  </p>
  <a class="btn__blue szWh247" href="{{root}}app.html" target="_blank">Conoce más</a> 
 </section>
