<!--<section id="phone" class="section-content">
  <div id="headerPhone" class="main-title-flex">
    <div>
      <h1 class="main-title-section"><div>Telefon&iacute;a</div> Totalplay</h1>
      <span></span>
    </div>            
  </div>
  <h1>Tu línea de siempre, ahora <span>va contigo.</span></h1>
  <div id="phones">
    <img src="assets/img/phone/phone.png" id="phone2">            
  </div>
  <p>Utiliza los minutos de tu línea fija y recibe llamadas donde quiera que estés con nuestra App.</span></p> 
  <a class="btn__blue" href="{{root}}paquetes.html#1">Planes con teléfono</a>
  <a class="btn__transparent_services" href="{{root}}telefonia.html" target="_blank">Conoce más</a>
</section> 
