<div class="sites">
  <div id="portalEmpresarial">
      <div class="border"></div>
      <div class="cap"></div>
      <div class="card">
            <div class="img-pack">
                <img src="assets/img/logo-tp-empresarial.png">
            </div>
            <p>Telecomunicaciones y tecnologías avanzadas para tu empresa.</p>
            <a>Conocer más</a>
      </div>
  </div>
  <div id="portalNegocio">
      <div class="border"></div><div class="cap"></div>
      <div class="card"> 
          <div class="img-pack">
            <img src="assets/img/logo-negocios@3x.png">
          </div>
          <p>El mejor aliado para que tu negocio crezca contigo.</p>
          <a >Conocer más</a>
      </div>
  </div>
</div>