<div id="sectionChat" class="menu-movil__help" style="position: fixed; top:auto">
    <input class='menu-help-robot' id='menu-help-robot' type='checkbox'>
    <label for='menu-help-robot'></label>
    <ul>
        <li class='menu-item-help'>
            <a class='whatsAppChat' id="whatsAppChat"
                href="https://api.whatsapp.com/send?l=pt_br&phone=5215515798000&text=Hola%2C+Asistente+Virtual+Totalplay&lang=es"
                target="_blank">
                <img src="assets/img/header/WhatsApp.png" style="width: 30px; height: 30px;" alt="">
            </a>
        </li>
        <li class='menu-item-help'>
            <a class='messageChat' id="messageChat" href='' data-toggle="modal" data-target="#chatsModal">
                <img src="assets/img/header/forum_24px.png" style="width: 30px; height: 30px;" alt="">
            </a>
        </li>
        <li class='menu-item-help'>
            <a class='phoneChat' id='phoneChat' data-toggle="modal" data-target="#phoneList">
                <img src="assets/img/header/phone_in_talk_24px.png" style="width: 30px; height: 30px;" alt="">
            </a>
        </li>
    </ul>
</div>

<div id="openModalChat" class="modal callUsModalContainer" tabindex="-1" role="dialog" aria-labelledby="callUsModal"
    aria-modal="true">
    <div>

        <a href="#close" title="Close" class="close">
            <img src="assets/img/header/close-24-px.svg">
        </a>

        <div class="div_title_chat">
            <div>
                <p class="text_semibold_chat">
                    <img src="assets/img/header/forum_24px (1).png" class="icon_logo_chat">
                    Chat
                    <i class="text_regular_chat">
                        Totalplay
                    </i>
                </p>
            </div>
            <div class="card-chat--separator"></div>
            <div>
                <p class="text_regular_chat22">¿En qué te podemos ayudar?</p>
            </div>
        </div>
        <div class="div_button-modalDialog">
            <a class="modalChat-item__button">Ventastest</a>
        </div>
        <div class="div_button-modalDialog">
            <a class="modalChat-item__button">Atención a clientes</a>
        </div>
        <div class="div_button-modalDialog">
            <a class="modalChat-item__button">Soporte Técnico</a>
        </div>
    </div>
</div>
<div id="openModalPhone" class="modalDialogPhone modal callUsModalContainer" tabindex="-1" role="dialog"
    aria-labelledby="callUsModal" aria-hidden="true">
    <div>
        <a href="#close" title="Close" class="close">
            <img src="assets/img/header/close-24-px.svg">
        </a>
        <div class="div_title_phone">
            <div>
                <p class="text_semibold_chat">
                    <img src="assets/img/header/phone_in_talk_24px-2.png" class="icon_logo_phone" alt="">
                    Teléfonos
                    <i class="text_regular_chat">
                        Totalplay
                    </i>
                </p>
            </div>
            <div class="card-phone--separator"></div>
            <div class="card-phone--separator-vertical-1"></div>
            <div class="card-phone--separator-vertical-2"></div>
            <div class="container-modal-phone">
                <ul class="content-phone-chat__phoneChat phone_div">
                    <li class="card-phone__phoneChat">
                        <div>
                            <div>
                                <p class="text_bold_phone_title">
                                    Asistencia
                                </p>
                            </div>
                            <div>
                                <p class="text_medium_phone_subtitle">
                                    Atención a clientes
                                </p>
                            </div>
                            <div>
                                <p class="text_medium_phone_blue">
                                    <a href="tel:5515798000">55 1579 8000</a>
                                </p>
                            </div>
                            <div>
                                <p class="text_regular_phone_txt">
                                    L-V de 7:00 a.m. - 11:00 p.m. Los 365 días del año
                                </p>
                            </div>
                            <div>
                                <p class="text_medium_phone_subtitle">
                                    Regístro de cargos recurrentes
                                </p>
                            </div>
                            <div>
                                <p class="text_medium_phone_blue">
                                    <a href="tel:5515798000">55 1579 8000</a>
                                </p>
                            </div>
                            <div>
                                <p class="text_regular_phone_txt">
                                    L-V de 9:00 a.m. - 9:00 p.m. S-D de 9:00 a.m. - 3:00 p.m.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="card-phone__phoneChat">
                        <div>
                            <div>
                                <p class="text_bold_phone_title">
                                    Soporte técnico
                                </p>
                            </div>
                            <div>
                                <p class="text_medium_phone_subtitle">
                                    CDMX y área metropolitana
                                </p>
                            </div>
                            <div>
                                <p class="text_medium_phone_blue">
                                    <a href="tel:8003301111">800 330 1111</a>
                                </p>
                            </div>
                            <div>
                                <p class="text_regular_phone_txt">
                                    L-V de 7:00 a.m. - 11:00 p.m. Los 365 días del año
                                </p>
                            </div>
                            <div>
                                <p class="text_medium_phone_subtitle">
                                    Interior de la republica
                                </p>
                            </div>
                            <div>
                                <p class="text_medium_phone_blue">
                                    <a href="tel:8005100510">800 510 0510</a>
                                </p>
                            </div>
                            <div>
                                <p class="text_regular_phone_txt">
                                    L-V de 9:00 a.m. - 9:00 p.m. S-D de 9:00 a.m. - 3:00 p.m.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="card-phone__phoneChat" style="height: auto;">
                        <div>
                            <div>
                                <p class="text_bold_phone_title">
                                    Ventas
                                </p>
                            </div>
                            <div>
                                <p class="text_medium_phone_subtitle">
                                    Contrataciones
                                </p>
                            </div>
                            <div>
                                <p class="text_medium_phone_blue">
                                    <a href="tel:8003301111">800 330 1111</a>
                                </p>
                            </div>
                            <div>
                                <p class="text_regular_phone_txt">
                                    L-V de 7:00 a.m. - 11:00 p.m. Los 365 días del año
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--modal Telefonos Chat-->
<div class="modalPhoneList modal" id="phoneList" tabindex="-1" role="dialog" aria-labelledby="phoneList"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row modalTitle">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h1><img src="{{root}}/assets/img/nuevos/icons/phone_in_talk_24px-2.png"><span>Teléfonos</span>
                            Totalplay</h1>
                        <hr>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="{{root}}/assets/img/nuevos/icons/closeIconSVGDark.svg">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="row phoneListTitle">
                            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 listColumn">
                                <div class="row firstNumber">
                                    <div class="col-12">
                                        <h1>Asistencia</h1>
                                        <p>Atención a clientes</p>
                                        <a href="tel:55 1579 8000">55 1579 8000</a>
                                        <p class="schedule">L-V de 7:00 a.m. - 11:00 p.m. Los 365 días del año</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>Regístro de cargos recurrentes</p>
                                        <a href="tel:55 1579 8000">55 1579 8000</a>
                                        <p class="schedule">L-V de 9:00 a.m. - 9:00 p.m.<br>S-D de 9:00 a.m. - 3:00 p.m.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 listColumn">
                                <div class="row firstNumber">
                                    <div class="col-12">
                                        <h1>Soporte técnico</h1>
                                        <p>CDMX y área metropolitana</p>
                                        <a href="tel:55 1579 8000">800 330 1111</a>
                                        <p class="schedule">L-V de 7:00 a.m. - 11:00 p.m. Los 365 días del año</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>Interior de la republica</p>
                                        <a href="tel:55 1579 8000">800 510 0510</a>
                                        <p class="schedule">L-V de 9:00 a.m. - 9:00 p.m.<br>S-D de 9:00 a.m. - 3:00 p.m.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 listColumn lastColumnPhone">
                                <div class="row firstNumber">
                                    <div class="col-12">
                                        <h1>Ventas</h1>
                                        <p>Contrataciones</p>
                                        <a href="tel:55 1579 8000">800 330 1111</a>
                                        <p class="schedule">L-V de 7:00 a.m. - 11:00 p.m. Los 365 días del año</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal Telefonos Chat-->
<!--modal Telefonos Soporte Chat-->
<div class="modal callUsModalContainer modalChats" id="chatsModal" tabindex="-1" role="dialog"
    aria-labelledby="chatModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row modalTitle">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 chatModalTitle">
                        <h1><img src="{{root}}/assets/img/nuevos/icons/phone_in_talk_24px-2.png"><span>Chat</span>
                            Totalplay</h1>
                        <hr>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="{{root}}/assets/img/nuevos/icons/closeIconSVGDark.svg">
                </button>
            </div>
            <div class="modal-body chatsLinks">
                <div class="row">
                    <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 mx-auto">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <a id="chatVentas">Ventas</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <a id="chatAC">Atención a clientes</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <a id="chatST">Soporte técnico</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal Telefonos Soporte Chat-->