<section id="headerCobertura" class="header-cobertura">
    <div id="coberturaContainer" class="cobertura-container">       
        <div class="step">
            <div id="titleFormMessage1" class="text-message">
                <div> <p class="text-bold">¡Cámbiate ya! <i> Llámanos sin costo al</i> <i class="text-blue">800 330 1111</i></p>  </div> 
            </div>

            <div class="separator-container">
                <p class="separator-line"></p>
                <p class="separator-text" style="font-family: Montserrat-Bold">o nosotros te llamámos</p>
            </div>         
            <form class="form-cobertura" id="formPersonalDataHeader" action="" >
                <div class="input__float">
                    <input name="headerNombre" id="headerNombre" type="text" autocomplete="off" required class="letras" placeholder=" " tabindex="1">
                    <label for="headerNombre">Nombre</label>
                    <p class="text-danger" id="errorNombre" style="margin-top: 5px !important;"></p>
                </div>
                <div class="input__float">
                    <input name="headerTel" id="headerTel" type="text" autocomplete="off" required class="solo-numeros" maxlength="10" placeholder=" " tabindex="3">
                    <label for="headerTel">Tel&eacute;fono</label>
                    <p class="text-danger" id="errorTel" style="margin-top: 5px !important;"></p>
                </div>
                <div class="input__float">
                    <input name="headerCP" id="headerCP" type="text" autocomplete="off" maxlength="5" required class="solo-numeros" placeholder=" " tabindex="4">
                    <label for="headerCP">C&oacute;digo postal</label>
                    <p class="text-danger" id="errorCP" style="margin-top: 5px !important;"></p>
                </div>
                <div class="input__float">
                    <input  name="headerCorreo" id="headerCorreo" type="text" autocomplete="off" required placeholder=" " tabindex="2">
                    <label for="headerCorreo">Correo</label>
                    <p class="text-danger" id="errorCorreo" style="margin-top: 5px !important;"></p>
                </div>
            </form>
        </div>
        <div class="cargador" id="cargadorLead"></div>
        <div class="step">
            <div id="confirmCobertura" class="confirm-cobertura">
                <div  id="iconoMsg"></div>
                <div id="titleFormMessage2" class="text-message">
                    <span class="text-normal" id="mensaje"></span>                   
                </div>
                <button id="btnConfirmCobertura" ></button>
            </div>
            <button id="btnCoberturaHeader" class="btn__outline__blue">Quiero que me llamen</button>
        </div>
        <div class="container-close-pop" id="closeCoberturaLead"></div>
    </div>    
</section>