<section id="sectionApps" class="section-apps">
    <div class="section-apps__media">
        <video class="section-apps__media--video" src="assets/media/FibraVideoLow.mp4" type="video/mp4" controls="false" autoplay loop  muted></video>
    </div>
   
    <span class="section-apps__title">Más streaming, más diversión.</span>
    <div class="section-apps__subtitle">
        <span class="section-apps__subtitle--text">Bienvenido a casa</span>
        <img class="section-apps__subtitle--logo" src="assets/img/pages/home/prime-video-1@3x.png">
    </div>

    <div class="section-apps__container">

        <ul class="section-apps__container--apps" id="appHome">

            <li class="section-apps__container--apps--list">
                <img src="assets/img/tv/onDemand-peliculas.jpg" alt="">
                <img src="assets/img/tv/TvOnDemand.jpg" alt="">
                <img src="assets/img/tv/onDemandKids2.jpg" alt="">
                <img src="assets/img/tv/fox@3x.png" alt="">
                <img src="assets/img/tv/Amazon-prime.jpg" alt="">
            </li>
    
            <li class="section-apps__container--apps--list">
                <img src="assets/img/tv/oDKaraoke.jpg" alt="">
                <img src="assets/img/tv/netflix@3x.png" alt="">
                <img src="assets/img/tv/HBO.jpg" alt="">
                <img src="assets/img/tv/Amazon-prime.jpg" alt="">
                <img src="assets/img/tv/blim.png" alt="">
            </li>
    
            <li class="section-apps__container--apps--list">
                <img src="assets/img/tv/fox@3x.png" alt="">
                <img src="assets/img/tv/Amazon-prime.jpg" alt="">
                <img src="assets/img/tv/blim.png" alt="">
                <img src="assets/img/tv/Amazon-prime.jpg" alt="">
                <img src="assets/img/tv/blim.png" alt="">
            </li>
            
        </ul>

    </div>
    <a class="btn__transparent" href="{{root}}ventajas.html">Conoce las ventajas Totalplay</a>
</section>