<section id="containerServices" class="service-apps-container">

    <div class="card-service">
        <span class="card-service__title">Tecnología que cubre todo tu hogar.</span>
        <span class="card-service__subtitle">Mantente conectado en cada espacio con nuestra cobertura WiFi extendida.</span>
        <a class="btn__transparent" href="ventajas.html">Conoce las ventajas Totalplay</a>
        <img class="card-service__principal-item" src="assets/img/img-hero-3@3x.png" alt="">
    </div>

    <div class="card-service">
        <span class="card-service__title">Lo mejor de Totalplay en la palma de tu mano.</span>
        <span class="card-service__subtitle">Descárgala ahora</span>
        <div class="card-service__store-items">
            <a class="" href="https://play.google.com/store/apps/details?id=com.TotalPlay.totalplay&amp;hl=es_MX" target="_blank">
                <img src="assets/img/packages/addons-package/Google.png" alt="" class="listAddons__item--content__apps__item" style="width: 114px;height: 42px;">
            </a>
            <a class="" href="https://itunes.apple.com/mx/app/totalplay/id847892109?mt=8" target="_blank">
                <img src="assets/img/packages/addons-package/apple.png" alt="" class="listAddons__item--content__apps__item" style="width: 114px;height: 42px;">
            </a>
            
        </div>
        
        <img class="card-service__principal-item" src="assets/img/pages/contratacion/img-container@3x.png" alt="">
    </div>

</section> 