<section id="videoBanner" class="video-banner">
    <div id="barBanner" class="bar-banner">
        <span id="openBarBanner" >¡Cámbiate ya! <i> Nosotros te llamamos.</i></span>
        <div id="closeBarBanner" class="bar-banner__close"></div>
    </div>

    <div class="content-video-banner">
        <video src="assets/media/FibraVideoLow.mp4" type="video/mp4" controls="false" autoplay muted loop></video>
        <div class="content-video-banner__gradient"></div>
        <div class="content-video-banner__banner-info">
            <span>Te conectamos con lo que amas.</span>
            <span>Contrata y obtén más Megas y más Canales.</span>
            <a href="{{root}}paquetes.html" class="btn__blue">Contrata un paquete</a>
            <a class="btn__transparent home" href="{{root}}ventajas.html">Conoce las ventajas Totalplay</a>
        </div>

    </div>

</section>