<div class="modal--contract" id="ventanaFinaliza">
    <div class="modal--contract__layer" id="capaFinaliza"></div>
    <div class="modal--contract__content-form" id="contenidoFinaliza">
        
        <div class="contract__content-form__title">
        	Generaci&oacute;n de contrato
        </div>
        <div class="contract__content-form__description">
        	<div id="nombreProceso" style="width: 100%">
        		
        	</div>
        	<div style="width: 100%; margin-top: 25px;">
        		<i class="fas fa-circle-notch fa-spin iconoFinaliza"></i>
        	</div>
        </div>
    </div>
</div>
