<style type="text/css">
    .slick-prev:before, .slick-next:before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
        color: #3b4559;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<section class="container-edit--addon">
    <div class="container-edit--addon__layer"></div>
    <div class="container-edit--addon__content">
        <!-- contenido dinamico -->
        <span class="addon--content-close"></span>
        <div class="addon--content-description">
            
        </div>
        <div class="addon--content-dinamic">
            
        </div>
        <div class="addon--content-barAdd">
            <p class="addon--content-barAdd__text">
                Confirmar adicionales
            </p>
        </div>
    </div>
</section>