<style type="text/css">
    #botonContinuar:disabled {
        background: gray !important;
        opacity: .5;
    }
</style>
<div class="modal--contract">
    <div class="modal--contract__layer"></div>
    <div class="modal--contract__content-form">
        <span class="contract__content-form__close"></span>
        <div class="contract__content-form__title"></div>
        <div class="contract__content-form__description"></div>
        <div class="contract__content-form__step-1">
            <form action="" class="contract__content-form__form">
                <div class="input__float">
                    <input name="email" id="email" type="text" autocomplete="off" placeholder=" " required>
                    <label for="email">Correo electrónico</label>
                    <p class="text-danger" style="margin-top: 5px !important;" id="errorEmailContratacion"></p>
                </div>
                <div class="input__float" style="margin-top: 15px;">
                    <input name="mobile" id="mobile" type="text" autocomplete="off" required minlength="10" maxlength="10" placeholder=" ">
                    <label for="mobile">Celular de contacto</label>
                    <p class="text-danger" style="margin-top: 5px !important;" id="errorMovilContratacion"></p>
                </div>
            </form>
            <button id="botonContinuar" class="btn__blue contract__content-form__btn-continue">Continuar&nbsp;&nbsp;<i class="fas fa-circle-notch fa-spin iconoContinuar" style="color: white;display: none;"></i></button>
            <p class="contract__content-form__terms">Al continuar, aceptas el <span><a href="{{root}}pdf/aviso-privacidad.pdf" target="_blank"> Aviso de privacidad</a></span> y las <span><a href="{{root}}terminos-condiciones-servicio.html" target="_blank">Condiciones de uso</a></span> de Totalplay Telecomunicaciones.</p>
        </div>
        <div class="contract__content-form__step-2">
            <div class="contract__content-form__form-inputs">
                <input class="contract--form_input campoCodigo" maxLength="1" type="text" name="" id="nip_1" data-num="1" autocomplete="off"/>
                <input class="contract--form_input campoCodigo" maxLength="1" type="text" name="" id="nip_2" data-num="2" autocomplete="off"/>
                <input class="contract--form_input campoCodigo" maxLength="1" type="text" name="" id="nip_3" data-num="3" autocomplete="off"/>
                <input class="contract--form_input campoCodigo" maxLength="1" type="text" name="" id="nip_4" data-num="4" autocomplete="off"/>
                <input class="contract--form_input campoCodigo" maxLength="1" type="text" name="" id="nip_5" data-num="5" autocomplete="off"/>
                <input class="contract--form_input campoCodigo" maxLength="1" type="text" name="" id="nip_6" data-num="6" autocomplete="off"/>
          </div>
          <div class="contract__content-form__text" id="botonReenviarCodigo">Enviar de nuevo</div>
        </div>
    </div>
</div>