<style>
    .modal--contract__content-form{
        padding-bottom: 20px !important;
        padding-top: 20px !important;
    }
    .textoGracias {
        height: 61.2px;
        width: 492px;
        color: #3B4559;
        font-family: Montserrat-Regular;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 30.6px;
        margin-left: 30px;
    }

    .btn_white {
        font-family: Montserrat-Regular;
        font-size: 22px;
        color: #1a76d2;
        line-height: 27px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #fafafa;
        border: 1px solid #1a76d2;
        border-radius: 25px;
        width: 200px;
    }

    #mensajeVentanaGracias{
        flex-direction: row;
    }

    @media (max-width: 1024px) {
        #mensajeVentanaGracias {
            flex-direction: column;
        }
    }
</style>
<div class="modal--contract" id="ventanaGracias">
    <div class="modal--contract__layer" id="capaVentanaGracias"></div>
    <div class="modal--contract__content-form" id="contenidoVentanaGracias" style="width: 80%">        
        <div class="contract__content-form__step-2" id="formVentanaGracias">
            <div class="contract__content-form__step-1" id="mensajeVentanaGracias">
                <div>
                    <i class="fas fa-check-circle fa-2x" style="color:#1a76d2"></i>
                </div>
                <div class="textoGracias">Nos pondremos en contacto contigo cuando tengamos cobertura en tu hugar</div> 
                <div>
                    <button type="button" class="btn_white" onclick="window.location='/'">Ok, gracias</button>
                </div>
            </div>
          
        </div>
    </div>
</div>