<div class="contratacion--top-bar" id="barContratacion">
    <div class="main-header">
        <nav class="menu" style="box-shadow: 0 0 0 0;" id="menuContratacion">
            <a class="menu--container-menu__logo" href="/" id="menuLogo" style="height: 80px;">
            </a>
        </nav>
    </div>
    <div class="contratacion--top-bar__steps">
        <ul class="contratacion--top-bar__steps__list-names" style="display:flex;width: 100%">
            <!--li class="contratacion--top-bar__steps__list-names__item active" style="display:flex">
                Cobertura
            </li>
            <li class="contratacion--top-bar__steps__list-names__item" >
                Promoción
            </li>
            <li class="contratacion--top-bar__steps__list-names__item" >
                Resumen
            </li>
            <li class="contratacion--top-bar__steps__list-names__item">
                Contrata
            </li-->
        </ul>
        <ul class="contratacion--top-bar__steps--content-items" style=" width: 80%">
            <!--li class="contratacion--top-bar__steps--content-items__item">
                <div class="point-item" style="background-color: rgb(26, 118, 210); height: 7px; width: 7px;">
                </div>
                <div class="progress-item">
                    <div class="progress-item-done">
                    </div>
                </div>
            </li>
            <li class="contratacion--top-bar__steps--content-items__item">
                <div class="point-item">
                </div>
                <div class="progress-item">
                    <div class="progress-item-done">
                    </div>
                </div>
            </li>
            <li class="contratacion--top-bar__steps--content-items__item">
                <div class="point-item">
                </div>
                <div class="progress-item">
                    <div class="progress-item-done">
                    </div>
                </div>
            </li>
            <li class="contratacion--top-bar__steps--content-items__item" style="width: 12px;">
                <div class="point-item">
                </div>
                <div class="progress-item">
                    <div class="progress-item-done">
                    </div>
                </div>
            </li-->
        </ul>
    </div>
</div>