<ul class="container-steps--contratacion">
	<li class="container-steps--contratacion__step">
        {{> contrataFactibilidad }}
    </li>
    <li class="container-steps--contratacion__step">
        {{> contrataPromocion }}
    </li>
    <li class="container-steps--contratacion__step">
        {{> contrataResumen }}
    </li>
    <li class="container-steps--contratacion__step">
        {{> contrataFinaliza }}
    </li>
</ul>


{{>contrataCupon}}
{{>contrataVentana}}
{{>contrataVentanaGracias}}
{{>contrataAdicional}}
{{>contrataFinalizaModal}}
{{>contrataCambioCiudad}}
