<section class="complementosContainer">
    <div class="complementosTextContent">
        <div class="complementosStep">
            <small>Paso 2 de 4</small>
        </div>
        <div class="complementosTitle">
            <h1>Agrega un adicional</h1>
        </div>
        <div class="complementosDesc">
            <p>¿TV adicional o Internet? ¡Que tal ambos! en un solo dispositivo adicional.</p>
        </div>
    </div>
    <ul class="flex-container">
        <li class="item ctnComplemento" id="complementoTVAdicional" data-id="" data-precio="" data-name="" data-tipo=""
            data-index="">
            <img src="/assets/img/nuevos/img-hero3.png">
            <h1>Decodificador 4K con acceso WiFi</h1>
            <p>Con programación independiente y acceso WiFi</p>
            <p class="promotion">Sin costo x 3 meses</p>
            <p class="price">+ <span class="cntTVPrecio"></span> al mes</p>
            <p class="addedItem hideAdded">Agregado <img src="../../assets/img/nuevos/icons/checkCircle.svg">
            </p>
        </li>
        <li class="item ctnComplemento" id="complementoCanal" data-id="" data-precio="" data-name="" data-tipo=""
            data-index="">
            <div class="imageComplement">
                <img src="/assets/img/pages/contratacion/Canales_2.png" id="imageComplementBack">
            </div>
            <div class="overlapComplement">
                <div class="imageOverlap">
                    <img src="/assets/img/pages/contratacion/LogoFox.png" id="imageComplementCanalLogo">
                </div>
                <div class="titlesOverlap">
                    <h1 id="titleComplementCanal">Fox Premium</h1>
                    <p>Canales + App</p>
                    <p class="price" id="priceComplementCanal">Sin costo x 3 meses</p>
                    <p class="addedItem hideAdded">Agregado <img src="../../assets/img/nuevos/icons/checkCircle.svg">
                    </p>
                </div>
            </div>
        </li>
        <li class="item ctnComplemento" id="complementoWifi" data-id="" data-precio="" data-name="" data-tipo=""
            data-index="">
            <img src="/assets/img/nuevos/extender@2x.png">
            <h1>Punto de acceso WiFi</h1>
            <p>Con programación independiente y acceso WiFi</p>
            <hr>
            <p class="price">+ <span class="cntWifiPrecio"></span> al mes</p>
            <p class="addedItem hideAdded" style="top: -32px !important;">Agregado <img
                    src="../../assets/img/nuevos/icons/checkCircle.svg"></p>
        </li>
    </ul>
    <div class="barraEcommerce">
        <div class="barraEcommerceContainer">
            <div class="botonRegreso">
                <a id="beforeComplementos"><img
                        src="/assets/img/nuevos/icons/chevronLeftBlue.svg"><span>Regresar</span></a>
            </div>
            <div class="barDescription">
                <p>Paquete <span id="nombrePaqueteComplemento">Nombre de paquete</span></p>
                <h1><span id="precioComplemento">$ 0,000</span> al mes</h1>
            </div>
            <div class="botonAvance" style=" position: relative; top: -35px;">
                <a id="nextComplementos"><span>Siguiente</span><img
                        src="/assets/img/nuevos/icons/arrowForwardWhite.svg"></a>
            </div>
        </div>
    </div>
</section>