<section class="complementosContainer">
    <div class="complementosTextContent">
        <div class="complementosStep">
            <small>Paso 2 de 4</small>
        </div>
        <div class="complementosTitle">
            <h1>Agrega un adicional</h1>
        </div>
        <div class="complementosDesc">
            <p>¿TV adicional o Internet? ¡Que tal ambos! en un solo dispositivo adicional.</p>
        </div>
    </div>
    <ul class="flex-container">
        <li class="item">
            <img src="../../assets/img/nuevos/img-hero3.png">
            <h1>Decodificador 4K con acceso WiFi</h1>
            <p>Con programación independiente y acceso WiFi</p>
            <p class="promotion">Sin costo x 3 meses</p>
            <p class="price">+ <span>$120</span> al mes</p>
        </li>
        <li class="item">
            <div class="imageComplement">
                <img src="assets/img/pages/contratacion/Canales_2.png">
            </div>
            <div class="overlapComplement">
                <div class="imageOverlap">
                    <img src="assets/img/pages/contratacion/LogoFox.png">
                </div>
                <div class="titlesOverlap">
                    <h1>Fox Premium</h1>
                    <p>Canales + App</p>
                    <p class="price">Sin costo x 3 meses</p>
                </div>
            </div>
        </li>
        <li class="item">
            <img src="../../assets/img/nuevos/extender@2x.png">
            <h1>Punto de acceso WiFi</h1>
            <p>Con programación independiente y acceso WiFi</p>
            <hr>
            <p class="price">+ <span>$250</span> al mes</p>
        </li>
    </ul>
    <div class="barraEcommerce">
        <div class="barraEcommerceContainer">
            <div class="botonRegreso">
                <a href="#"><img src="../../assets/img/nuevos/icons/chevronLeftBlue.svg"><span>Regresar</span></a>
            </div>
            <div class="barDescription">
                <p>Paquete <span>Nombre de paquete</span></p>
                <h1><span>$ 0,000</span> al mes</h1>
            </div>
            <div class="botonAvance">
                <a id="nextComplementos"><span>Siguiente</span><img src="../../assets/img/nuevos/icons/arrowForwardWhite.svg"></a>
            </div>
        </div>
    </div>
</section>