<section class="content-contratacion" style="display: none;" id="seccionPromocion">
    <p class="text-normal" id="txtCobertura2" style="color: #3b4559;margin-top: 15px; font-family: Montserrat-Regular;">
        <i style="font-size: 14px;color: #75787B; font-weight: 700;">
            Paso 2 de 4
        </i>
    </p>

    <div class="content-contratacion__title" id="promocionTitulo">
        Elige tu beneficio por promoción
    </div>
    <div class="content-contratacion__subTitle" id="promocionSubtitulo">
        Elige una experiencia premium de entretenimiento sin costo x 6 meses.
    </div>
    <ul class="content-contratacion__packages" id="contentContListItems">
        <li class="card-contratacion__packages">
            <div class="card-contratacion__packages__description-poster">
                <div class="card-contratacion__packages__description-poster__img">
                    <img src="assets/img/pages/contratacion/Canales_1.png">
                    </img>
                </div>
            </div>
            <div class="card-contratacion__packages__description-content" id="contenedorHBO" data-id="">
                <div class="capa"></div>
                <div class="card-contratacion__packages__description-content__logo">
                    <img src="assets/img/pages/contratacion/hbo-holding.png">
                    </img>
                </div>
                <div class="card-contratacion__packages__description-content__name">
                    HBO
                </div>
                <div class="card-contratacion__packages__description-content__description">
                    Canales + OnDemand
                </div>
                <div class="card-contratacion__packages__description-content__promotion">
                    Sin costo x 6 meses
                </div>
                <div class="card-contratacion__packages__description-content__add">
                </div>
            </div>
        </li>
        <li class="card-contratacion__packages">
            <div class="card-contratacion__packages__description-poster">
                <div class="card-contratacion__packages__description-poster__img">
                    <img src="assets/img/pages/contratacion/Canales_2.png">
                    </img>
                </div>
            </div>
            <div class="card-contratacion__packages__description-content" id="contenedorFOX" data-id="">
                <div class="capa"></div>
                <div class="card-contratacion__packages__description-content__logo">
                    <img src="assets/img/pages/contratacion/LogoFox.png">
                    </img>
                </div>
                <div class="card-contratacion__packages__description-content__name">
                    Fox Premium
                </div>
                <div class="card-contratacion__packages__description-content__description">
                    Canales + OnDemand
                </div>
                <div class="card-contratacion__packages__description-content__promotion">
                    Sin costo x 6 meses
                </div>
                <div class="card-contratacion__packages__description-content__add">
                </div>
            </div>
        </li>
    </ul>
    <div class="barraEcommerce">
        <div class="barraEcommerceContainer">
            <div class="barDescription">
                <p>Paquete <span>Nombre de paquete</span></p>
                <h1><span>$ 0,000</span> al mes</h1>
            </div>
            <div class="botonAvanceMobile">
                <a href="#"><span>Siguiente</span><img src="../../assets/img/nuevos/icons/arrowForwardWhite.svg"></a>
            </div>
        </div>
    </div>
</section>