<script src="/assets/vendor/js/jquery-3.5.1.min.js"></script>
<style type="text/css">
    .ligaGenerica {
        font-family: Montserrat-Regular;
        font-size: 18px;
        color: #1a76d2;
        line-height: 1.5;
        cursor: pointer;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>
<div class="contratacion--finaliza" id="barContratacion">
    <div class="main-header">
        <nav class="menu" style="box-shadow: 0 0 0 0;">
            <a class="menu--container-menu__logo" href="/" id="menuLogo">
            </a>
        </nav>

    </div>

</div>
<div id="folioContent" class="folio-user-info" style="padding-top: 100px;">
    <span>Bienvenid@ <strong id="txtNombreUsuario"></strong></span>
    <span>Disfruta de esta nueva experiencia de entretenimiento.</span>

    <div class="folio-info-container">
        <div class="folio-installation" style="border: 1px solid #E0E0E0;border-radius: 10px; text-align: left;">
            <span style="text-align: center;">Tu n&uacute;mero de cuenta es:</span>
            <span id="txtTicketFolio"
                style="width: 100%; border-bottom: 1px solid #E0E0E0; padding-bottom: 30px; margin-bottom: 20px; text-align: center; width: 100%;">
                20180111STE</span>
            <div class="instalationDayDiv"
                style="margin-bottom: 30px; margin-top: 24px; position: relative; left: 13px;">
                <div>
                    <span
                        style="text-align: left; display: block; font-family: Montserrat-Regular; font-size: 16px; color: rgba(117,120,123,1); line-height: 19px;">Dia
                        de instalaci&oacute;n:</span>
                    <span id="txtFechaInstalacion"
                        style="text-align: left; display: block; font-family: Montserrat-Bold; font-size: 16px; color: rgba(59,69,89,1); line-height: 24px;"></span>
                </div>
            </div>
            <div class="detailsMailDiv" style="margin-bottom: 24px; text-align: left; position: relative; left: 19px;">
                <div>
                    <span
                        style="text-align: left; font-family: Montserrat-Regular; font-size: 16px; color: rgba(117,120,123,1); line-height: 19px;">Detalles
                        en tu correo:</span>
                    <span id="txtCorreoEnvio"
                        style="text-align: left; font-family: Montserrat-Bold; font-size: 16px; color: rgba(59,69,89,1); line-height: 24px;"></span>
                </div>
            </div>
            <span style="display: none;">Presentar los siguientes documentos:</span>
            <span style="text-align: center;margin: 5px; display: none;">Identificaci&oacute;n y Comprobante de
                domicilio</span>
            <section id="packages-paq" onclick="window.location = '/';"
                style="padding: 13px 24px; position: relative; top: -15px;">
                <span class="ligaGenerica">Entiendo, ir al inicio</span>
            </section>
        </div>
        <div class="apps-store-info">
            <div class="text-store-info">
                <div class="totalIcon"></div>
                <span style="width: 100%">Sigue tu instalaci&oacute;n en la <i>App de Totalplay</i></span>
                <img src="../../assets/img/nuevos/qrCode.jpg"
                    style="width: 200px; height: auto; margin-bottom: 20px; position: relative; top: -85px;" alt="">
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    mostrarInformacion();

    /*function mostrarInformacion() {
        document.getElementById('txtNombreUsuario').innerHTML = 'USUARIO GENERICO';
        document.getElementById('txtTicketFolio').innerHTML = '20180111STE';
        document.getElementById('txtCorreoEnvio').innerHTML = 'informacion@totalplay.com.mx';
        document.getElementById('txtFechaInstalacion').innerHTML = 'Viernes 28 de Agosto del 2020';
        localStorage.clear();
    }//*/

    function mostrarInformacion(){
        try {
            var infoVentaStr = window.localStorage.getItem('TP_VENTA');
            var infoClienteStr = window.localStorage.getItem('TP_STR_CLIENTE');
            var fechaInstalacion = localStorage.getItem('TP_CLIENTE_FECHA_INSTALACION');

            var infoVentaObj = JSON.parse(infoVentaStr);
            var infoClienteObj = JSON.parse(infoClienteStr);

            document.getElementById('txtTicketFolio').innerHTML = infoVentaObj.numeroCuenta;
            document.getElementById('txtNombreUsuario').innerHTML = infoClienteObj.titular.nombreCompleto;
            document.getElementById('txtCorreoEnvio').innerHTML = infoClienteObj.correoElectronico;
            document.getElementById('txtFechaInstalacion').innerHTML = fechaInstalacion;

            var nombreCliente = infoClienteObj.titular.nombreCompleto;
            var numeroCuenta = infoVentaObj.numeroCuenta;
            var correoElectronico = infoClienteObj.correoElectronico;

            enviarCorreoConfirmacion(nombreCliente, numeroCuenta, correoElectronico)

            //localStorage.clear(); 
        } catch (error) {
            console.log("ERROR EN MOSTRAR INFORMACION:", error);
        }
    }

    function enviarCorreoConfirmacion(nombreCliente, numeroCuenta, correoElectronico){
        
        $.ajax({
            url: "https://5ui1bow6gf.execute-api.us-east-1.amazonaws.com/Desarrollo/enviar-correo-confirmacion",
            data: JSON.stringify({"nombreCliente": nombreCliente,"numeroCuenta": numeroCuenta, "correoElectronico": correoElectronico}),
            dataType: "json",
            type: 'POST'
        }).done(function(respuesta) {
            console.log(respuesta);
            
        }).fail(function(jqXHR, textStatus) {
            console.log('ER', 'OCURRIO UN ERROR EN EL API [enviar-correo-confirmacion]', jqXHR);
            
        });
    }
</script>