<nav class="menu" id="mainNavPrincipal"> <!-- main NAv-->
    <div class="menu--menu-mobile" id="menuMobileIcon"></div>
    <div class="menu--container-menu">
        <a href="/" class="menu--container-menu__logo" id="menuLogo"></a>
        
            <ul class="menu--container-menu__main-menu" id="mainMenu">
                <li class="selector" id="selectorMainMenu"></li>
                <li class="menu--container-menu__main-menu__item" onclick="window.location='servicios.html'">Servicios
                </li>
                <li class="menu--container-menu__main-menu__item" onclick="window.location='paquetes.html'">Paquetes
                 
                </li>
                <li class="menu--container-menu__main-menu__item" onclick="window.location='asistencia.html'">Soporte</li>
            </ul>
        
    </div>

    <div class="menu-container-account" id="containerMenuAccount">
        <div class="selectorMenuUser" id="selectorMenuAccound"></div>
        <div class="menu-container-account__cobertura item__menu-account" id="menuCoberturaNuevo">
            <span class="cobertura-text">Valida tu cobertura</span>
        </div><!-- menu-top--cobertura -->
        <div class="menu-container-account__tv item__menu-account" id="accountTv">
            <span class="tv-text">Ver la Tv</span>
        </div>
        <div class="menu-container-account__item-user item__menu-account" id="itemUser">
            <p>Mi cuenta</p>
            <div class="menu-container--menu-user" id="menuLogin">
                <div class="menu-container--content">
                    <div class="menu-container--content__login"></div>
                    <div class="menu-container--content__data">
                        Cargos recurrentes
                        <div class="content__data__text1">4170 3285</div>
                        <div class="content__data__text2">L-V 9:00 am a 9:00 pm
                        S-D 9:00 am a 3:00 pm</div>
                    </div>
                </div>

            </div>
            
        </div>
        <div class="menu-container-account__car item__menu-account" id="accountCar"></div>
    </div>
</nav>
