<nav class="nav-services" style="position: sticky;top: 0px;transition: all 0.3s ease-in-out 0s;" id="barraServicios">
    <ul class="nav-services--nav" id="menuListServicios">
        <div class="nav-services--nav__separator" id="selectorMenuServicios"></div>
        <a href="#internet" class="nav-services--nav__item selectServicios" style="font-family: 'Montserrat-Bold';">Internet</a>
        <a href="#tv" class="nav-services--nav__item selectServicios">TV</a>
        <a href="#movil" class="nav-services--nav__item selectServicios">App m&oacute;vil</a>
        <a href="#phone" class="nav-services--nav__item selectServicios">Telefon&iacute;a</a>
    </ul>
</nav>