<div class="menu-movil" id="menuMovil" style="background-color: rgba(30,30,40,.6)">
          <img src="assets/img/header/close-sub-menu-mobil.svg" alt="" class="menu-movil__close" id="hideMenuMovil">        
          <div class="menu-movil__container" id="menuMovilContainer">
              <ul class ="cont-ul-test" id="contUlTest">
                  <li class="menu-movil__menu" id="menuMovilSubMenu">
                      <img src="assets/img/logo_tp_mobile.svg" alt="" class="subMenu-movil__icn-logo" onclick="location.href='/'">
                      <a class="menu-movil__watchTv" onclick="window.open('https://totalgo.totalplay.com.mx:444/TPW/TotalPlay.htm','_blank')" >Ver la Tv</a>
                      <a href="#" class="menu-movil__carritocompras carritoCompras">Carrito<label class="count-car">1</labe></a>
                      <div class="menu-movil__contrata">
                          <img src="assets/img/header/outline-shopping-cart-24-px.svg" alt="" height="28px" style="padding-left: 6px;">
                          <div style="padding-left: 13px;">¿Necesitas ayuda?</div><br>
                      </div>
                      <ul >
                      <li style="display: none;" id="elementSubMenu"><a href="#" class="menu-movil__link">Servicios</a></li>
                          <li><a href="servicios.html" class="menu-movil__link">Servicios</a></li>
                          <li><a href="paquetes.html" class="menu-movil__link">Paquetes</a></li>
                          <li><a href="asistencia.html" class="menu-movil__link">Soporte</a></li>
                      </ul>                    
                  </li>
                  <li class="menu-movil__submenu" id="menuMovilSubMenuSub">
                      <div class="menu-movil__submenu---back" id="backSubmenuMovil">
                          <a href="#">Menú</a>
                      </div>
                      <div class="menu-movil__submenu---title">Servicios</div>
                      <ul >
          
                          <li> <a href="#">Internet</a> </li>
                          <li> <a href="#">Televisión</a></li>
                          <li> <a href="#">Apps</a></li>
                          <li> <a href="#">Teléfono Digital</a></li>
                      </ul>
                  </li>
                  
              </ul>
              
          </div>
          
  </div>
