<nav class="menu-top" id="mainNavTop">
  <div class="menu-top--section" id="menuSections">HOGAR</div>
  <ul class="menu-top---menu-sections" id="menuSectionsList">
      <div class="selector" id="selectorTopMenu"></div>
      <li class="menu-top---menu-sections__item">HOGAR</li>
      <li class="menu-top---menu-sections__item">NEGOCIOS</li>
      <li class="menu-top---menu-sections__item">EMPRESARIAL</li>
  </ul>
  <div class="menu-top--cobertura" id="menuCobertura"> VALIDA TU COBERTURA</div>
</nav>
