<section class="row termsAndConditions">
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 mx-auto">
        <hr>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>
                    <span>T&eacute;rminos y condiciones</span>
                </p>
                <p>
                    Consulta t&eacute;rminos y condiciones de los paquetes, caracter&iacute;sticas, servicios adicionales y
                    documentos relacionados <a href="#">aqu&iacute;</a>.
                </p>
                <p>
                    Para navegar a la m&aacute;xima velocidad de descarga contratada, se recomienda conectarse v&iacute;a
                    al&aacute;mbrica utilizando un cable ethernet. Las velocidades de transferencia de internet se ofrecen hasta
                    la velocidad indicada y pueden variar debido al tr&aacute;fico y transferencia de datos fuera de la
                    red de totalplay. Las velocidades de carga var&iacute;an en los planes debido a que el servicio de
                    internet es asim&eacute;trico: para planes tripleplay y dobleplay inicial 1mbps, esencial 3mbps, b&aacute;sico 6mbps,
                    pr&aacute;ctico 8mbps, familiar 10mbps, total 20mbps, premium 30mbps y sin l&iacute;mite 50mbps.
                </p>
            </div>
        </div>
    </div>
</section>