{{#ifpage 'contratacion'}}
<section id="footer" style="display: none;">
{{/ifpage}}
<section id="footer">

    <div class="qualify" id="qualify">
        <span>¿Te resultó útil este sitio?</span>
        <ul>
            <li class="qualifyItems" id="MuySatisfecho"><img src="assets/img/iconos/footer/very-satisfied.svg"></li>
            <li class="qualifyItems" id="Satisfecho"><img src="assets/img/iconos/footer/satisfied.svg"></li>
            <li class="qualifyItems" id="Neutral"><img src="assets/img/iconos/footer/neutral.svg"></li>
            <li class="qualifyItems" id="Insatisfecho"><img src="assets/img/iconos/footer/dissatisfied.svg"></li>
            <li class="qualifyItems" id="MuyInsatisfecho"><img src="assets/img/iconos/footer/very-dissatisfied.svg"></li>
        </ul>
        <span class="message">¡Gracias por tus comentarios!</span>
    </div>
    
    <div class="container-footer-menu" id="mnuservicios">
        <div class="footer-menu">
            <ul class="menu-footer-items menu-footer-items2" id="mnupaq">
                <li class="active-item">SERVICIOS
                    <img src="assets/img/arrow-down.png" class="liImgServicios">
                </li>
                <li><a href="{{root}}servicios.html#internet">Internet</a> </li>
                <li><a href="{{root}}servicios.html#tv">Televisi&oacute;n y Apps</a></li>
                <li><a href="{{root}}servicios.html#phone">Telefon&iacute;a Digital</a></li>
                <li><a href="{{root}}servicios.html#movil">App m&oacute;vil</a></li>
            </ul>
            <ul class="menu-footer-items  menu-footer-productos">
                <li class="active-item">PRODUCTOS
                    <img src="assets/img/arrow-down.png" class="liImgProductos">
                </li>
                <li><a href="{{root}}/">Residencial</a></li>
                <li><a onclick="window.open('https://www.negociostotalplay.com.mx/?utm_source=sitio&utm_medium=header','_blank')">Negocios</a></li>
                <li><a onclick="window.open('https://totalplayempresarial.com.mx/?utm_source=sitio&utm_medium=header','_blank')">Empresas</a></li>
            </ul>
            <ul class="menu-footer-items  menu-footer-items2">
                <li class="active-item">SOPORTE
                    <img src="assets/img/arrow-down.png" class="liImgSoporte">
                </li>
                <li><a href="asistencia.html#manuales">Manuales</a></li>
                <li><a href="asistencia.html#totalplayAyuda">@TotalplayAyuda</a></li>
                <li><a href="https://mitotalplay.com.mx/" target="_blank">Mi Cuenta</a></li>
            </ul>
            <ul class="menu-footer-items  menu-footer-items2">
                <li class="active-item">CONTÁCTANOS
                    <img src="assets/img/arrow-down.png" class="liImgContactanos">
                </li>
                <li>Contrataciones
                </li>
                <li class="text-blue"><a href="tel:8003301111">800 330 1111</a></li>
                <li>Atención a clientes
                </li>
                <li class="text-blue"><a href="tel:5515798000">55 1579 8000</a></li>
                <li>Soporte técnico
                </li>
                <li class="text-blue"><a href="tel:5515798000">55 1579 8000</a></li>
            </ul>
    </div>
        <div class="footer-menu-right">
            <ul class="menu-footer-items">
                <li>SÍGUENOS</li>
                <div>
                    <a href="https://www.facebook.com/totalplay" target="_blank"><img src="assets/img/iconos/footer/facebook2.svg"></a> 
                    <a href="http://twitter.com/#!/TotalplayAyuda"target="_blank"><img src="assets/img/iconos/footer/twitter2.svg"></a> 
                    <a href="https://www.youtube.com/totalplaymx"target="_blank"><img src="assets/img/iconos/footer/youtube2.svg"></a>
                    <a onclick="window.open('https://api.whatsapp.com/send?l=pt_br&phone=5215515798000&text=Hola%2C+Asistente+Virtual+Totalplay&lang=es','_blank')"><img src="assets/img/iconos/footer/whatsapp2.svg"></a>
                </div>

                <li class="text-bold"><a href="{{root}}generica.html">CONVENIOS</a></li>
                <li class="text-bold"><a href="asistencia.html#buzonDirector">BUZÓN AL DIRECTOR</a></li>
            </ul>
        </div>

    </div>
    

    <div class="terms-items">
        <ul>
            <div class="footer-terms">
                <div>
                    <a href="{{root}}terminos-condiciones-servicio.html" target="_blank"> Términos y condiciones</a>
                    <pre> · </pre>
                </div>
                <div>
                    <a href="{{root}}pdf/aviso-privacidad.pdf" target="_blank"> Aviso de privacidad</a>
                    <pre> · </pre>
                </div>
                <div>
                    <a href="{{root}}pdf/carta-derechos.pdf" target="_blank"> Carta de derechos</a>
                    <pre> · </pre>
                </div>
                <div>
                    <a href="https://www.datospersonalesgs.com.mx/DerechosARCO/views/ng/Bienvenido" target="_blank">Ejerce tus Derechos Arco</a> 
                    <pre> · </pre>
                </div>
                <div>
                    <a href="{{root}}pdf/practicas_comerciales.pdf" target="_blank">Código de prácticas comerciales</a>
                    <pre> · </pre>
                </div>
                <div id="segu-Jus">
                    Colaboración en materia de seguridad y justicia
                </div>                
            </div>
            <li id="divJusticia" class="footer-rights" style="display: none; margin-bottom: 55px; line-height: 2;">
                <a href="mailto:colaboracion.justicia@totalplay.com.mx" >colaboracion.justicia@totalplay.com.mx</a> <br>
                Avenida San Jerónimo #252, Torre TotalPlay, Piso 6, Col. la Otra Banda, Coyoacán, C.P. 04510, CDMX.
                <br>
            </li>

            <li class="footer-rights">
                Todos los derechos reservados Total Play Telecomunicaciones S.A. de C.V. 2020.
            </li>
            <li class="footer-conditions">
                Totalplay no se hace responsable por errores en la información ocasionados por la conexión de internet o versión de navegador. Para garantizar la correcta visualización y certeza de la información aquí mostrada, te recomendamos utilizar los siguientes navegadores: Internet Explorer 11, Microsoft edge 25, Google Chrome 48, Firefox 44, Opera 35, Safari 9 o versiones superiores a las mencionadas. Para ver la oferta actualizada, te recomendamos actualizar la ventana de tu navegador.
            </li>

            <li class="footer-esr">
                <img src="assets/img/iconos/footer/logo-esr@3x.png">
            </li>

            
        </ul>
    </div>
</section>