<header class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row topMenu">
            <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mx-auto">
                <div class="row">
                    <div class="col-md-2 col-lg-1 col-xl-1 activeItem d-none d-sm-none d-md-block">
                        <a href="/">Hogar</a>
                    </div>
                    <div class="col-md-2 col-lg-1 col-xl-1 d-none d-sm-none d-md-block">
                        <a href="https://www.negociostotalplay.com.mx/?utm_source=sitio&utm_medium=header"
                            target="_blank">Negocio</a>
                    </div>
                    <div class="col-md-2 col-lg-1 col-xl-1 d-none d-sm-none d-md-block">
                        <a href="https://totalplayempresarial.com.mx/?utm_source=sitio&utm_medium=header"
                            target="_blank">Empresa</a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ml-md-auto locationButton"
                        id="validaCoberturaHeader">
                        <a id="cd-cobertura-index" data-toggle="modal" data-target="#cityPicker">Validar ubicación</a>
                    </div>
                </div>
            </div>
        </div>
        <nav id="menuTopBar" class="row mainNav">
            <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mx-auto">
                <div class="row">
                    <div class="col-2 col-sm-2 d-block d-sm-block d-md-none mobileToggle">
                        <a id="openIcon" href="#" onclick="openMenu();"><i class="fas fa-bars"></i></a>
                        <a id="closeIcon" href="#" style="display: none;" onclick="closeMenu();"><i
                                class="fas fa-times"></i></a>
                    </div>
                    <div class="col-8 col-sm-8 col-md-2 col-lg-2 col-xl-1 logoContainer">
                        <a href="/"><img src="{{root}}assets/img/nuevos/totalplay-logoWhite.svg" alt="Totalplay"></a>
                    </div>
                    <div class="col-2 col-sm-2 d-block d-sm-block d-md-none mobileCart">
                        <a href="https://mitotalplay.com.mx"><img src="{{root}}assets/img/nuevos/icons/account.svg"></a>
                    </div>
                    <ul class="desktopNav d-none d-sm-none d-md-block">
                        <li><a href="servicios.html">Servicios</a></li>
                        <li><a href="paquetes.html">Paquetes</a></li>
                        <li><a href="asistencia.html">Ayuda y soporte</a></li>
                    </ul>
                    <ul class="userMenu d-none d-sm-none d-md-block ml-md-auto">
                        <li><a href="https://totalgo.totalplay.com.mx:444/TPW/TotalPlay.htm" target="_blank"><img
                                    src="{{root}}assets/img/nuevos/icons/liveTv.svg"><span>Ver la Tv</span></a></li>
                        <li><a href="https://mitotalplay.com.mx/" target="_blank"><img
                                    src="{{root}}assets/img/nuevos/icons/account.svg"><span>Mi cuenta</span></a>
                        </li>
                        <li><a href="#"><img src="{{root}}assets/img/nuevos/icons/cart.svg"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>