<header class="row">
    <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mx-auto">
        <div class="row topMenu">
            <div class="col-md-2 col-lg-1 col-xl-1 activeItem d-none d-sm-none d-md-block">
                <a href="{{root}}">Hogar</a>
            </div>
            <div class="col-md-2 col-lg-1 col-xl-1 d-none d-sm-none d-md-block">
                <a href="https://www.negociostotalplay.com.mx/?utm_source=sitio&utm_medium=header" target="_blank">Negocio</a>
            </div>
            <div class="col-md-2 col-lg-1 col-xl-1 d-none d-sm-none d-md-block">
                <a href="https://totalplayempresarial.com.mx/?utm_source=sitio&utm_medium=header" target="_blank">Empresa</a>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ml-md-auto locationButton">
                <a href="#" id="cd-cobertura-index">Validar ubicación</a>
            </div>
        </div>
        <nav id="menuTopBar" class="row mainNav">
            <div class="col-2 col-sm-2 d-block d-sm-block d-md-none mobileToggle">
                <a id="openIcon" href="#" onclick="openMenu();"><i class="fas fa-bars"></i></a>
                <a id="closeIcon" href="#" style="display: none;" onclick="closeMenu();"><i class="fas fa-times"></i></a>
            </div>
            <div class="col-8 col-sm-8 col-md-2 col-lg-2 col-xl-1 logoContainer">
                <a href="index.html"><img src="{{root}}assets/img/nuevos/totalplay-logoWhite.svg" alt="Totalplay"></a>
            </div>
            <div class="col-2 col-sm-2 d-block d-sm-block d-md-none mobileCart">
                <a href="https://www.mitotalplay.com.mx"><img src="{{root}}assets/img/nuevos/icons/account.svg"></a>
            </div>
            <ul class="desktopNav d-none d-sm-none d-md-block">
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="paquetes.html">Paquetes</a></li>
                <li><a href="soporte.html">Ayuda y soporte</a></li>
            </ul>
            <ul class="userMenu d-none d-sm-none d-md-block ml-md-auto">
                <li><a href="https://totalgo.totalplay.com.mx:444/TPW/TotalPlay.htm" target="_blank"><img src="{{root}}assets/img/nuevos/icons/liveTv.svg"><span>Ver la Tv</span></a></li>
                <li><a href="https://mitotalplay.com.mx/" target="_blank"><img src="{{root}}assets/img/nuevos/icons/account.svg"><span>Mi cuenta</span></a></li>
                <li><a href="#"><img src="{{root}}assets/img/nuevos/icons/cart.svg"></a></li>
            </ul>
        </nav>
    </div>
    <div id="mobile" class="mobileMenuContainer">
        <div class="mobileMenu d-block d-sm-block d-md-none">
            <ul>
                <li><a href="https://totalgo.totalplay.com.mx:444/TPW/TotalPlay.htm" target="_blank"><img src="{{root}}assets/img/nuevos/icons/liveTv.svg"><span>Ver la Tv</span></a></li>
                <li><a href="paquetes.html"><img src="{{root}}assets/img/nuevos/icons/cart.svg">Carrito</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="paquetes.html">Paquetes</a></li>
                <li><a href="soporte.html">Ayuda y soporte</a></li>
            </ul>
            <div class="row bottomMobileMenu">
                <div class="col-4 bottomMobileMenuItem activeItem">
                    <a href="index.html">Hogar</a>
                </div>
                <div class="col-4 bottomMobileMenuItem">
                    <a href="https://www.negociostotalplay.com.mx/?utm_source=sitio&utm_medium=header" target="_blank">Negocio</a>
                </div>
                <div class="col-4 bottomMobileMenuItem">
                    <a href="https://totalplayempresarial.com.mx/?utm_source=sitio&utm_medium=header" target="_blank">Empresa</a>
                </div>
            </div>
        </div>
    </div>
</header>
