<div class="promotion_cards" id="promotionCards">
    <h1>
        Promociones
    </h1>
    <h2>
        Contrata ahora y obtén los mejores beneficios
    </h2>
    <div class="promotions-list-cards__content">
        <ul class="promotions-list-cards" id="listPromotionsCards">
        </ul>
        <div class="promotions-list-cards__content--left">
        </div>
        <div class="promotions-list-cards__content--right">
        </div>
    </div>
    <ul class="circle_indicators" id="detailPromotionIndicators">
    </ul>
</div>
<section class="banner--choose-package" id="ElegirPaquete">
    <h2 class="banner--choose-package__title">Es momento de elegir un paquete</h2>
<p class="banner--choose-package__description">Ahorra tiempo y dinero incluyendo <span>internet, televisión, telefonía y apps</span> en el mismo paquete.</p>
<a href="#" class="banner--choose-package__btn">El&iacute;gelo ahora</a>
</section>
<div class="modal-detail-promotion">
    <div class="modal-detail-promotion__content">
        <div class="modal-detail-promotion__content--close" style="filter: brightness(0.5);">
        </div>
        <div class="modal-detail-promotion__content--container">
            <h1 class="modal-detail-promotion__content__title">
                Nombre de la Promo
            </h1>
            <p class="modal-detail-promotion__content__text">

            </p>
        </div>
    </div>
</div>
{{>seccionTerminosCondiciones}}