<section class="page-packages-packages" id="page-packages-packages">

    <div class="page-packages-packages__content-menu" id="contentMenuTabs">
        <ul class="menu-packages" id="menuPackages">
            <div class="selector-packages" id="selectorPackages"></div>
            <li class="menu-packages__item" id="lknTriplePlay">Tripleplay</li>
            <li class="menu-packages__item" id="lknDoblePlay">Dobleplay</li>
            <li class="menu-packages__item" id="lknMatch3P">Match 3P</li>
            <li class="menu-packages__item" id="lknMatch2P">Match 2P</li>
        </ul>
    </div>

    <div class="section-packages__content-title" style="display: block;">
        Ahorra tiempo y dinero incluyendo &nbsp;<strong id="familiaPaquete" style="font-weight: bold; font-family: Montserrat-Bold">Internet + TV y Apps + Telefonía</strong>&nbsp;en el mismo paquete.
        
    </div>

    <div class="section-packages__content-packages" id="contentPackagesHome">

        <div class="section-packages__tripleplay  tab-1 item_tab" id="section-paquetes-tripleplay">
            <div class="content-align-items" id="paquetes_tripleplay"></div>
        </div>

        <div class="section-packages__dobleplay tab-2 item_tab" id="section-paquetes-dobleplay">
                <div class="content-align-items" id="paquetes_dobleplay"></div>
        </div>
        
        <div class="section-packages__tripleplay  tab-3 item_tab" id="section-paquetes-tripleplaymatch">
            <div class="content-align-items" id="paquetes_match3P"></div>
        </div>

        <div class="section-packages__dobleplay tab-4 item_tab" id="section-paquetes-dobleplaymatch">
                <div class="content-align-items" id="paquetes_match2P"></div>
        </div>

    </div>

    <div class="section-packages__description">
        <div class="view-more-packages">Mostrar más paquetes</div>
        <p>
            Para navegar a 300 Megas o más es necesario contar con un dispositivo con características específicas.
        </p>
        <a href="{{root}}pdf/ift.pdf" target="_blank">Tarifas registradas en IFT</a>
    </div>

    <section class="banner-description-packages">
        <div class="banner-description-packages__description">
            <p>Conoce los increíbles beneficios que obtienes al contratar la experiencia Totalplay.</p>
        </div>
        <a class="btn_paq_advantages" href="ventajas.html">Conoce m&aacute;s</a>
    </section>

</section>

