<section id="description">
    <!--<span class="separator"></span>-->
    <h1><span>Mejoramos la experiencia de tu TV</span></h1>
    <ul class="slider" id="tvSliderContainer"></ul>
    <!--<span class="separator"></span>-->
    <h1><span>Tenemos el internet m&aacute;s veloz de M&eacute;xico</span></h1>
    <ul class="slider" id="internetSliderContainer"></ul>
    <!--<span class="separator"></span>-->
    <h1><span>Lleva Totalplay a donde vayas con nuestra App</span></h1>
    <ul class="slider" id="appSliderContainer"></ul>
    <!--<span class="separator"></span>-->
    <h1><span>La l&iacute;nea telef&oacute;nica que va contigo</span></h1>
    <ul class="slider" id="phoneSliderContainer"></ul>
</section>