<section id="serviceComparator" class="service-comparator">
    <div class="comparator-container">
        <div class="comparator-table">
            <div class="comparator-services">
                <ul>
                    <li>
                        <div>Características</div>
                    </li>
                    <li>
                        <div>Internet</div>
                    </li>
                    <li>
                        <div>Alta definición
                    </li>
                    <li>
                        <div>TV cuando sea (DVR)</div>
                    </li>
                    <li>
                        <div>Aplicaciones<br>integradas</div>
                    </li>
                    <li>
                        <div>App móvil</div>
                    </li>
                    <li>
                        <div>App teléfono</div>
                    </li>
                </ul>
            </div>
            <div class="comparator-description">
                <ul class="comparator-description__cards">
                    <li class="card-item">
                        <div class="item-marca-tp">
                            <div class="__img">
                                <img src="assets/img/iconos/Dani.png">
                            </div>
                        </div>
                        <span class="item-tp">Hasta 500&nbspMegas</span>
                        <span class="item-tp">125 canales</span>
                        <span>
                            <img src="assets/img/iconos/done_24px-3@4x.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/done_24px-3@4x.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/done_24px-3@4x.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/done_24px-3@4x.png">
                        </span>
                    </li>
                </ul>
            </div>
            <div class="comparator-description comparator-description2">
                <ul class="comparator-description__cards comparator-description__cards2">
                    <li class="card-item card-item2">
                        <div class="item-marca">
                            <div class="__img">
                                <img src="assets/img/iconos/Rectangle(1).png">
                            </div>
                            <span class="red1">AXT</span>
                        </div>
                        <span>Hasta 300&nbspMegas</span>
                        <span>48 canales</span>
                        <span>
                            <img src="assets/img/iconos/ic-OK.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/ic-OK.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/ic-OK-3.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/ic-OK.png">
                        </span>
                    </li>
                    <li class="card-item card-item2">
                        <div class="item-marca">
                            <div class="__img">
                                <img src="assets/img/iconos/Rectangle(2).png">
                            </div>
                            <span class="cyan">IZZ</span>
                        </div>
                        <span>Hasta 100&nbspMegas</span>
                        <span>60 canales</span>
                        <span>
                            <img src="assets/img/iconos/ic-OK.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/ic-OK-3.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/ic-OK-3.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/ic-OK.png">
                        </span>
                    </li>
                    <li class="card-item card-item2">
                        <div class="item-marca">
                            <div class="__img">
                                <img src="assets/img/iconos/Rectangle.png">
                            </div>
                            <span class="blue1">SK</span>
                        </div>
                        <span>N/A</span>
                        <span>106 canales</span>
                        <span>
                            <img src="assets/img/iconos/ic-OK.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/ic-OK.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/ic-OK-4.png">
                        </span>
                        <span>N/A</span>
                    </li>
                    <li class="card-item card-item2">
                        <div class="item-marca">
                            <div class="__img">
                                <img src="assets/img/iconos/Rectangle(4).png">
                            </div>
                            <span class="red2">DSH</span>
                        </div>
                        <span>N/A</span>
                        <span>40 canales</span>
                        <span>
                            <img src="assets/img/iconos/ic-OK.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/ic-OK.png">
                        </span>
                        <span>
                            <img src="assets/img/iconos/ic-OK-3.png">
                        </span>
                        <span>N/A</span>
                    </li>
                    <li class="card-item card-item2">
                        <div class="item-marca">
                            <div class="__img">
                                <img src="assets/img/iconos/Rectangle(3).png">
                            </div>
                            <span class="blue2">TMX</span>
                        </div>
                        <span>Hasta 200&nbspMegas</span>
                        <span>N/A</span>
                        <span>N/A</span>
                        <span>N/A</span>
                        <span>N/A</span>
                        <span>
                            <img src="assets/img/iconos/ic-OK.png">
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="comparator-indicator">
            <div class="comparator-indicator__back">
                <img src="assets/img/packages/sliders/arrow-back-ios-24-px.svg" alt="">
            </div>
            <div class="comparator-indicator__next">
                <img src="assets/img/packages/sliders/arrow-back-ios-24-px.svg" alt="">
            </div>
        </div>
        <p>Características evaluadas durante Diciembre 2019.</p>
    </div>
    <span>Elige un paquete con todos los servicios incluidos</span>
    <span>Ahorra tiempo y dinero incluyendo <i>internet, televisión, telefonía y apps</i> en el mismo paquete. </span>
    <a class="btn__outline__blue" href="paquetes.html">Elegir un paquete</a>
</section>