<style>
	.promtionns-title{
		color: #3B4559 !important;
		font-family: Montserrat-Regular !important;
		font-size: 28px !important;
		letter-spacing: 0 !important;
		line-height: 26px !important;
		margin-bottom: 30px !important;
		padding-right:0 !important;
	}
	.promotions-list-cards {
		left: 0 !important;
		margin-left: 15% !important;
		margin-right: 15% !important;
	}

	.mask {
		
		border-radius: 8px;
		background-color: #FAFAFA;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
	}
</style>
<div class="promotion_cards" id="promotionCards">
    <h1 class="promtionns-title">
        Promociones incluidas en este paquete
    </h1>

    <div class="promotions-list-cards__content" style="margin-bottom: 50px;">
<ul class="promotions-list-cards" id="listPromotionsCards">
		</ul>

<ul class="promotions-list-cards" id="listPromotionsCards"><li class="promotions-list-cards__item mask" style="width: 180px;">
			<div class="list-cards__item--image" style="background: url('assets/img/pages/detallePaquete/img-publicidad-1.png') no-repeat; background-size: cover; background-position: center; "></div>
			<div class="list-cards__item--content">
				<div class="list-cards__item--title" style="text-align: left;">Sopresas Playstation</div>
				<div class="list-cards__item--description" style="text-align: left;">Solo tienes que domiciliar tu tarjeta de crédito.</div>
				<div class="list-cards__item--more-info" style="text-align: left;">Más información</div>
			</div>
		</li><li class="promotions-list-cards__item mask" style="width: 180px;">
			<div class="list-cards__item--image" style="background: url('assets/img/pages/detallePaquete/img-publicidad-1.png') no-repeat; background-size: cover; background-position: center; "></div>
			<div class="list-cards__item--content">
				<div class="list-cards__item--title" style="text-align: left;">Sopresas Playstation</div>
				<div class="list-cards__item--description" style="text-align: left;">Solo tienes que domiciliar tu tarjeta de crédito.</div>
				<div class="list-cards__item--more-info" style="text-align: left;">Más información</div>
			</div>
		</li><li class="promotions-list-cards__item mask" style="width: 180px;">
			<div class="list-cards__item--image" style="background: url('assets/img/pages/detallePaquete/img-publicidad-1.png') no-repeat; background-size: cover; background-position: center; "></div>
			<div class="list-cards__item--content">
				<div class="list-cards__item--title" style="text-align: left;">Sopresas Playstation</div>
				<div class="list-cards__item--description" style="text-align: left;">Solo tienes que domiciliar tu tarjeta de crédito.</div>
				<div class="list-cards__item--more-info" style="text-align: left;">Más información</div>
			</div>
		</li>
		</ul>
        <div class="promotions-list-cards__content--left">
        </div>
        <div class="promotions-list-cards__content--right">
        </div>
    </div>
    <ul class="circle_indicators" id="detailPromotionIndicators">
    </ul>
</div>

<div class="modal-detail-promotion">
    <div class="modal-detail-promotion__content">
        <div class="modal-detail-promotion__content--close" style="filter: brightness(0.5);">
        </div>
        <div class="modal-detail-promotion__content--container">
            <h1 class="modal-detail-promotion__content__title">
                Nombre de la Promo
            </h1>
            <p class="modal-detail-promotion__content__text">
                
            </p>
        </div>
    </div>
</div>