<!--<style type="text/css">
	.parrillaSeleccionada{
	    border: 2px solid #1a76d2;
	    background-color: rgba(26,118,210,.1);
	}
</style>
<div id="modalChannels"></div>-->
<div id="modalChannels" class="modalChannelsContainer">
    <div class="closeButton" onclick="hideChannels(event);">
        <div class="closeButtonIcon"></div>
    </div>
    <div class="row channelsTopBar">
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 mx-auto">
            <div class="row channelsTopBarTitle">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12">
                    <h1>Paquetes de canales</h1>
                </div>
            </div>
            <div class="row channelsTopBarToggle">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12">
                    <ul>
                        <li class="botonParrilla" data-code="10658" data-tipo="0"><a id="toggleEssential" href="#"
                                class="active">TV Esencial</a></li>
                        <li class="botonParrilla" data-code="11235" data-tipo="1"><a id="toggleBasic" href="#">TV
                                Básica</a></li>
                        <li class="botonParrilla " data-code="11203" data-tipo="2"><a id="toggleAdvanced" href="#">TV
                                Avanzada</a></li>
                        <li class="botonParrilla" data-code="11205" data-tipo="3"><a id="togglePremium" href="#">TV
                                Premium</a> </li>
                    </ul>
                </div>
            </div>
            <div class="row channelsDescription">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12">
                    <h1 id="textoTipoParrilla">Disfruta de 80 canales, 35 en HD.</h1>
                    <!--<h1 id="essentialDesc">Disfruta de 80 canales, 35 en HD.</h1>
                        <h1 id="basicDesc">Disfruta de 120 canales, 80 en HD.</h1>
                        <h1 id="advancedDesc">Disfruta de 255 canales, 130 en HD.</h1>
                        <h1 id="premiumDesc">Disfruta de 275 canales, 160 en HD.</h1>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row filtersContainer">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row mobileFilters">
                <div class="col-12 col-sm-12 d-block d-sm-block d-md-none">
                    <hr class="marginMobile">
                    <div class="row filterToggle">
                        <div class="col-12 col-sm-12 d-block d-sm-block d-md-none">
                            <p class="filterToggleParagraphMobile" onclick="showFiltersMobile('mobileFilters', event)">
                                <a href="#">Filtros</a></p>
                        </div>
                    </div>
                    <hr class="marginMobile">
                    <div id="mobileFilters" class="row mobileFiltersContainer" style="display: none;">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="cloudFilter" id="allRadio"
                                    value="cloudFilter">
                                <label class="form-check-label" for="allRadio">
                                    Todos
                                </label>
                            </div>
                            <hr class="marginMobile">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 d-none d-sm-none d-md-block">
                    <hr>
                    <div class="row filterToggle">
                        <div class="col-12">
                            <p class="filterToggleParagraph closeIconFilters"
                                onclick="showFilters('filtersContent', event)"><a href="#">Filtros</a></p>
                        </div>
                    </div>
                    <hr class="marginMobile">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12 d-none d-sm-none d-md-block">
                            <div id="filtersContent" class="row showFilters">
                                <div class="col-12">
                                    <!--<div class="row filterClass">
                                            <div class="col-12">
                                                <div class="row filterClassTitle">
                                                    <div class="col-12">
                                                        <p>Grabado en la nube</p>
                                                    </div>
                                                </div>
                                                <div class="row filterItem">
                                                    <div class="col-12">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="cloudFilter"
                                                                id="allRadio" value="cloudFilter">
                                                            <label class="form-check-label" for="allRadio">
                                                                Todos
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row filterItem">
                                                    <div class="col-12">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="cloudFilter"
                                                                id="automaticRadio" value="cloudFilter">
                                                            <label class="form-check-label automaticLabel" for="automaticRadio">
                                                                Automatico
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row filterItem">
                                                    <div class="col-12">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="cloudFilter"
                                                                id="manualRadio" value="cloudFilter">
                                                            <label class="form-check-label manualLabel" for="manualRadio">
                                                                Manual
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>-->
                                    <div class="row filterClass">
                                        <div class="col-12" id="filterCat">
                                            <!--<div class="row filterClassTitle">
                                                <div class="col-12">
                                                    <p>Categoria</p>
                                                </div>
                                            </div>-->
                                            <!--<div class="row filterItem">
                                                    <div class="col-12">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="filterName"
                                                                id="filterRadio" value="filterName">
                                                            <label class="form-check-label" for="filterRadio">
                                                                Nombre filtro
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row filterItem">
                                                    <div class="col-12">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="filterName"
                                                                id="filterRadio" value="filterName">
                                                            <label class="form-check-label" for="filterRadio">
                                                                Nombre filtrosss
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>-->
                                        </div>
                                    </div>
                                    <hr class="marginMobile">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-10 col-xl-10 channelContainer" id="channelsContentList1">
                    <!--<div class="row" id="cntCanales">
                            <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col-12 mx-auto channelItem">
                                        <div class="row channelItemImage">
                                            <div class="col-12">
                                                <img src="../assets/img/nuevos/canales/logoCanal.png">
                                            </div>
                                        </div>
                                        <div class="row channelItemName rewind">
                                            <div class="col-12">
                                                <p>000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col-12 mx-auto channelItem">
                                        <div class="row channelItemImage">
                                            <div class="col-12">
                                                <img src="../assets/img/nuevos/canales/logoCanal.png">
                                            </div>
                                        </div>
                                        <div class="row channelItemName normalrewind">
                                            <div class="col-12">
                                                <p>000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col-12 mx-auto channelItem">
                                        <div class="row channelItemImage">
                                            <div class="col-12">
                                                <img src="../assets/img/nuevos/canales/logoCanal.png">
                                            </div>
                                        </div>
                                        <div class="row channelItemName">
                                            <div class="col-12">
                                                <p>000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                </div>
            </div>
            <div class="row mainChannelBanners">
                <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mx-auto">
                    <div class="row">
                        <div class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4 channelBannersItem mx-auto">
                            <div class="row">
                                <div class="col-11 mx-auto channelBannersImage">
                                    <img src="../assets/img/nuevos/canales/card.png">
                                </div>
                            </div>
                        </div>
                        <div class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4 channelBannersItem mx-auto">
                            <div class="row">
                                <div class="col-11 mx-auto channelBannersImage">
                                    <img src="../assets/img/nuevos/canales/card.png">
                                </div>
                            </div>
                        </div>
                        <div class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4 channelBannersItem mx-auto">
                            <div class="row">
                                <div class="col-11 mx-auto channelBannersImage">
                                    <img src="../assets/img/nuevos/canales/card.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row extraBanners">
                <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mx-auto">
                    <div class="row extraBannersTitle">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <h1>Disfruta aún mas entretenimiento agregando Canales Premium a tu paquete.</h1>
                        </div>
                    </div>
                    <div class="row extraBannerContainer hboBanner">
                        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-lx-11 mx-auto extraBannerChannel">
                            <div class="row align-items-center">
                                <div
                                    class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4 mx-auto mx-sm-auto extraBannerChannelCol">
                                    <div class="row">
                                        <div class="col-12 extraBannerLogo">
                                            <img src="../assets/img/nuevos/hboLogo.svg">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 extraBannerIncluded">
                                            <p>Incluido con TV Premium</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 extraBannerDescription">
                                            <p>Incluye 10 canales HD + HBO OnDemand + HBO Go</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 extraBannerLink">
                                            <a href="#">Mas información</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 extraBannerImageCol">
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="../assets/img/nuevos/canales/ArteHBO.jpg" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="row extraBannerLinkImage">
                                        <div class="col-12">
                                            <a href="#">Mas información</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row extraBannerContainer foxBanner">
                        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-lx-11 mx-auto extraBannerChannel">
                            <div class="row align-items-center">
                                <div
                                    class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4 mx-auto mx-sm-auto extraBannerChannelCol">
                                    <div class="row">
                                        <div class="col-12 extraBannerLogo">
                                            <img src="../assets/img/nuevos/hboLogo.svg">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 extraBannerIncluded">
                                            <p>Incluido con TV Premium</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 extraBannerDescription">
                                            <p>Incluye 10 canales HD + Fox Premium en todas tus pantallas.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 extraBannerLink">
                                            <a href="#">Mas información</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 extraBannerImageCol">
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="../assets/img/nuevos/canales/ArteHBO.jpg">
                                        </div>
                                    </div>
                                    <div class="row extraBannerLinkImage">
                                        <div class="col-12">
                                            <a href="#">Mas información</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div id="channelsOverMdoal" class="row overModalContainer align-items-center">
            <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto channelDescriptionRow">
                <div class="closeChannelBanner" onclick="hideChannelsOver();"></div>
                <div class="row align-items-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 channelImageCol">
                        <img src="../assets/img/nuevos/canales/img_canales.png">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 channelDescriptionCol">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <img src="../assets/img/nuevos/canales/logoCanal.png">
                                <h1 class="normalrewind">101 - Azteca Uno</h1>
                                <h1 class="rewind">101 - Azteca Uno</h1>
                                <p>Vive la diversión, el entretenimiento, el mundo del espectáculo, los hechos
                                    de la noticia, la libertad del análisis político y la pasión del deporte.
                                </p>
                                <span>No te pierdas ningún episodio, este canal se graba automáticamente.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
</div>