<!--<div id="packageCards" class="card_packages"> 
    <span> Otros usuarios también vieron estos <span>paquetes Tripleplay</span></span>

    <div id="cardPackageDetail" class="detail_cards">
        <div class="card-package-item new-purple-item">
            <div class="card-package-item__banner">
                <div class="gradient-image new-purple-package-gradient-img"></div>
                <img src="assets/img/pages/packages/img-paquete 100.png" alt="">
            </div>
            <div class="card-package-item__title new-purple-package">Sorpréndete +</div>
            <div class="card-package-item__speed new-purple-package-gradient"><span>500</span></div>
            <div class="card-package-item__megas new-purple-package">Megas↓</div>
            <div class="card-package-item__include new-purple-package">+ Televisión + Apps + Telefonía</div>-->
<!-- <div class="card-package-item__description"><div><span>Ideal para Netflix </span>en 4K / UltraHD en cualquier pantalla.</div></div>-->
<!--<div class="card-package-item__promotion">INCLUYE 1 PROMOCIÓN</div> -->
<!--<div class="card-package-item__separator"></div>
            <div class="card-package-item__price"><span>Desde: <span>$1,679 al mes</span></span></div>
            <a class="card-package-item__button">Descubrir</a>
        </div>
    
        <div class="card-package-item new-purple-light-item">
            <div class="card-package-item__banner">
                <div class="gradient-image new-purple-light-package-gradient-img"></div>
                <img src="assets/img/pages/packages/img-paquete 80.png" alt="">
            </div>
            <div class="card-package-item__title new-purple-light-package">Sorpréndete</div>
            <div class="card-package-item__speed new-purple-light-package-gradient"><span>350</span></div>
            <div class="card-package-item__megas new-purple-light-package">Megas↓</div>-->
<!--<div class="card-package-item__include new-purple-light-package">+ Televisión + Apps + Telefonía</div>-->
<!-- <div class="card-package-item__description"><div><span>Ideal para </span>streaming de video en alta definición.</div></div>-->
<!--<div class="card-package-item__separator"></div> -->
<!--<div class="card-package-item__promotion">INCLUYE 1 PROMOCIÓN</div>
            <div class="card-package-item__price"><span>Desde: <span>$1,489 al mes</span></span></div>
            <a class="card-package-item__button">Descubrir</a>
        </div>
    
        <div class="card-package-item new-cyan-item">
            <div class="card-package-item__banner">
                <div class="gradient-image new-cyan-package-gradient-img"></div>
                <img src="assets/img/pages/packages/img-paquete 60.png" alt="">
            </div>
            <div class="card-package-item__title new-cyan-package">Emociónate +</div>
            <div class="card-package-item__speed new-cyan-package-gradient"><span>250</span></div>
            <div class="card-package-item__megas new-cyan-package">Megas↓</div>
            <div class="card-package-item__include new-cyan-package">+ Televisión + Apps + Telefonía</div>-->
<!--<div class="card-package-item__description"><div><span>Ideal para descargar </span>imágenes, música y videos.</div></div>-->
<!--<div class="card-package-item__promotion">INCLUYE 1 PROMOCIÓN</div>
            <div class="card-package-item__price"><span>Desde: <span>$1,249 al mes</span></span></div>
            <a class="card-package-item__button">Descubrir</a>
        </div>
    
    </div>
    <ul id="detailPackageIndicators" class="circle_indicators">
        <li></li>
        <li></li>
        <li></li>
    </ul>

    {{>seccionTerminosCondiciones}}
</div>