<!--<section class="addons-package"> 

    <h2 class="addons-package--title">Mira todo lo que incluye el <span class="color-black">paquete</span> <span class="color-purple" id="nombrePaqueteGeneral">Sorpréndete</span></h2>
    <p class="addons-package--description">Y conoce las ventajas únicas que tienes <span>#SoloConTotalplay</span></p>
    
    <div class="addons-package--listAddons--content">
        <ul class="addons-package--listAddons" id="listaTarjetas">

            <li class="addons-package--listAddons__item addon-item-defaul" id="tarjetaMegas">
                <div class="listAddons__item--content">
                    <div class="listAddons__item--content__title" id="paqueteTotalMegasSeccion"></div>
                    <div class="listAddons__item--content__description">Para lo que necesites, manten a tu familia conectada sin problemas.</div>
                    <div class="listAddons__item--content__option">Podrás elegir 500 Megas ó 120 Canales sin costo por 4 meses</div>
                </div>
                <div class="listAddons__item--content__image">
                    <img src="assets/img/packages/addons-package/img-feauture.png" alt="">
                </div>
            </li>
            <li class="addons-package--listAddons__item addon-item-defaul" id="tarjetaTelevision">
                <div class="listAddons__item--content">
                    <div class="listAddons__item--content__title">TV Inicial</div>
                    <div class="listAddons__item--content__description mrgn-btm1">Más de 80 canales, 21 en HD</div>
                    <div class="listAddons__item--content__link btn_transparentLinkTagTvBasic" id="openChannels">Ver canales</div>
                    <div class="listAddons__item--content__option">Podrás elegir 500 Megas ó 120 Canales sin costo por 4 meses</div>
                </div>
                <div class="listAddons__item--content__image">
                    <img src="assets/img/packages/addons-package/img-feauture-1.png" alt="">
                </div>
            </li>
            <li class="addons-package--listAddons__item addon-item-black" id="tarjetaEquipoTV">
                <div class="listAddons__item--content skin-white">
                    <div class="listAddons__item--content__title1">2 Equipos de TV 4K</div>
                    <div class="listAddons__item--content__description">Con WiFi para mantener tu hogar conectado a internet.</div>
                </div>
                <div class="listAddons__item--content__image">
                    <img src="assets/img/packages/addons-package/img-feauture-6.png" alt="">
                </div>
            </li>
            <li class="addons-package--listAddons__item addon-item-blue" id="tarjetaPromocion">
                <div class="listAddons__item--content skin-white">
                    <div class="listAddons__item--content__title2">Elige HBO o Fox</div>
                    <div class="listAddons__item--content__description">Ambos incluyen canales en vivo y contenido en streaming.</div>
                    <div class="listAddons__item--content__option">Sin costo durante 6 meses</div>
                </div>
                <div class="listAddons__item--content__image">
                    <img src="assets/img/packages/addons-package/img-feauture-4.png" alt="">
                </div>
            </li>
            <li class="addons-package--listAddons__item addon-item-orange" id="tarjetaRegresaTiempo">
                <div class="listAddons__item--content skin-white">
                    <div class="listAddons__item--content__title">Regresa el tiempo</div>
                    <div class="listAddons__item--content__description">Graba en la nube y mira tus programas favoritos cuando quieras.</div>
                     <div class="listAddons__item--content__option2">Sin costo</div>
                </div>
                <div class="listAddons__item--content__image">
                    <img src="assets/img/packages/addons-package/img-feauture-3.png" alt="">
                </div>
            </li>
            <li class="addons-package--listAddons__item addon-item-purple" id="tarjetaPeliculas">
                <div class="listAddons__item--content skin-white">
                    <div class="listAddons__item--content__title">Películas de estreno</div>
                    <div class="listAddons__item--content__description mrgn-btm">Los mejores estrenos de la temporada disponibles sin salir de casa.</div>
                    
                </div>
                <div class="listAddons__item--content__image">
                    <img src="assets/img/packages/addons-package/img-feauture-2.png" alt="">
                </div>
            </li>   
            <li class="addons-package--listAddons__item addon-item-defaul" id="tarjetaTelefonia">
                <div class="listAddons__item--content">
                    <div class="listAddons__item--content__title" id="paqueteTelefonoSeccion"></div>
                    <div class="listAddons__item--content__description">+ App Teléfono y llamadas ilimitadas a México, Estados Unidos y Canadá.</div>-->
<!--<div class="listAddons__item--content__option">Sin costo</div>-->
<!--</div>
                <div class="listAddons__item--content__image">
                    <img src="assets/img/packages/addons-package/img-feauture-5.png" alt="">
                </div>
            </li>   
            <li class="addons-package--listAddons__item addon-item-defaul" id="appsTotalplay">
                    <div class="listAddons__item--content">
                        <div class="listAddons__item--content__title">App Totalplay</div>
                        <div class="listAddons__item--content__description mrgn-btm2">Descárgala en cualquier dispositivo móvil y lleva tu Totalplay contigo.</div>
                        <div class="listAddons__item--content__apps">
                            <a class="" href="https://play.google.com/store/apps/details?id=com.TotalPlay.totalplay&amp;hl=es_MX" target="_blank">
                                <img src="assets/img/packages/addons-package/Google.png" alt="" class="listAddons__item--content__apps__item">
                            </a>
                            <a class="" href="https://itunes.apple.com/mx/app/totalplay/id847892109?mt=8" target="_blank">
                                <img src="assets/img/packages/addons-package/apple.png" alt="" class="listAddons__item--content__apps__item">
                            </a>
                            
                        </div>
                        
                    </div>
                    <div class="listAddons__item--content__image">
                        <img src="assets/img/packages/addons-package/img-feauture-5.png" alt="">
                    </div>
                </li>            
        </ul>            
    </div>
</section>-->