<section id="tvPackages">
    {{#ifpage 'ventajas'}}
        <div class="divVentajas">
            <h2 class="ache2">¿Por qu&eacute; somos los mejores?</h2>
        </div>
        <span class="spanFirst">
            Las Apps m&aacute;s famosas incluidas en nuestra TV interactiva
        </span>
        <span class="spanSecond">
            Tenemos las mejores opciones de streaming para todos los gustos.
        </span>
    {{/ifpage}}
    {{#ifpage 'detallePaquete'}}
        <span>
            Todas las Apps que necesitas
        </span>
        <span>
            Estrenos, series, películas, música y algo más para toda la familia. <i>Lo tenemos todo.</i>
        </span>
    {{/ifpage}}

    <!-- TV Slider -->
    <ul id="tvSliderPackages" class="tv__television__package">
    </ul>

    <div class="tv__footer__package" id="tv__footer">
        <div></div>
    </div>

    <div class="tv__channels" id="servicioAppsImg">
        <img src="assets/img/tv/onDemand-peliculas.jpg" alt="">
        <img src="assets/img/tv/TvOnDemand.jpg" alt="">
        <img src="assets/img/tv/onDemandKids2.jpg" alt="">
        <img src="assets/img/tv/oDKaraoke.jpg" alt="">
        <img src="assets/img/tv/netflix@3x.png" alt="">
        <img src="assets/img/tv/HBO.jpg" alt="">
        <img src="assets/img/tv/fox@3x.png" alt="">
        <img src="assets/img/tv/Amazon-prime.jpg" alt="">
        <img src="assets/img/tv/blim.png" alt="">
        <img src="assets/img/tv/crackle@3x.png" alt="">
        <img src="assets/img/tv/youtube@3x.png" alt="">
        <img src="assets/img/tv/comedy-central@3x.png" alt="">
        <img src="assets/img/tv/mtv@3x.png" alt="">
        <img src="assets/img/tv/nickelodeon@3x.png" alt="">
        <img src="assets/img/tv/Cbeebies.jpg" alt="">
        <img src="assets/img/tv/discovery@3x.png" alt="">
        <img src="assets/img/tv/Deezer.jpg" alt="">
        <img src="assets/img/tv/TuneIn.jpg" alt="">
        <img src="assets/img/tv/Horoscopo.jpg" alt="">
        <img src="assets/img/tv/TotalStore.jpg" alt="">
        <img src="assets/img/tv/Tienda.jpg" alt="">
        <img src="assets/img/tv/At&t.jpg" alt="">
        <img src="assets/img/tv/Unefon.jpg" alt="">
        <img src="assets/img/tv/SmartLiving.jpg" alt="">
        <img src="assets/img/tv/SoccerTotal.jpg" alt="">
        <img src="assets/img/tv/Rusia360.jpg" alt="">
        <img src="assets/img/tv/USB-MediaCenter.jpg" alt="">
        <img src="assets/img/tv/Clima.jpg" alt="">
    </div>
    <div class="tv_btn-more-packs" id="viewMore">ver todas</div>
</section>