<style type="text/css">
    @media (max-width: 767px) {
        .package-bar-detail {
            height: auto !important;
            padding-bottom: 15px !important;
            padding-top: 15px !important;
        }

        .package-bar-detail__package{
            width: 100% !important;
            flex-direction: column !important;
            padding-bottom: 7.5px !important;
        }

        .package-bar-detail__price{
            width: 100% !important;
            flex-direction: column !important;
            padding-bottom: 7.5px !important;
        }
    }
</style>
<div id="packageBarDetail" class="package-bar-detail">
    <div class="package-bar-detail__package pink">
        <span>Paquete</span> 
        <span id="paqueteNombreBarra"></span> 
    </div>
    <div class="package-bar-detail__price">
        <span>Desde </span> 
        <span id="paquetePrecioBarra">$1,309 al mes</span>
        <span>con descuento de por vida</span>
    </div>
    <a href="contratacion.html">¡Lo quiero!</a>
</div>