<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../assets/img/favicon.png">
    <link type="text/css" rel="stylesheet" href="{{root}}/assets/css/nuevos/normalize.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{{root}}/assets/css/nuevos/bootstrap.min.css"
        media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{{root}}/assets/css/nuevos/all.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{{root}}/assets/css/nuevos/chat.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{{root}}/assets/css/nuevos/iconsFont.css" media="screen,projection">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{root}}/assets/css/nuevos/slick.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{{root}}/assets/css/nuevos/slick-theme.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{{root}}/assets/css/nuevos/index.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{{root}}/assets/css/nuevos/style.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{{root}}/assets/css/nuevos/breakpoints.css" media="screen,projection">
    <!--SEO-->
    <meta name="description"
        content="Disfruta de nuestra plataforma de entretenimiento y conectividad de máxima calidad y tecnología. Totalplay: Tu proveedor de internet. Contáctanos">
    <link rel="stylesheet" type="text/css" href="{{root}}assets/css/seo/seo.css">
    <title>Proveedores de Internet | Somos Totalplay: Tu Compañía de Internet</title>
    <title>Totalplay | index</title>
</head>


<body class="container-fluid">
    {{> headerindex}}
    {{> body}}
    {{> footerindex}}
    <!--<a href="#" class="generalButton modalButton" onclick="showChannels(event);">Modal
        Canales</a>-->
    <!--<div id="modalChannels" class="modalChannelsContainer">
        <div class="closeButton" onclick="hideChannels(event);">
            <div class="closeButtonIcon"></div>
        </div>
        <div class="row channelsTopBar">
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 mx-auto">
                <div class="row channelsTopBarTitle">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12">
                        <h1>Paquetes de canales</h1>
                    </div>
                </div>
                <div class="row channelsTopBarToggle">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12">
                        <ul>
                            <li><a id="toggleEssential" href="#" class="active">TV Esencial</a></li>
                            <li><a id="toggleBasic" href="#">TV Básica</a></li>
                            <li><a id="toggleAdvanced" href="#">TV Avanzada</a></li>
                            <li><a id="togglePremium" href="#">TV Premium</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="row channelsDescription">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12">
                        <h1 id="essentialDesc">Disfruta de 80 canales, 35 en HD.</h1>
                        <h1 id="basicDesc">Disfruta de 120 canales, 80 en HD.</h1>
                        <h1 id="advancedDesc">Disfruta de 255 canales, 130 en HD.</h1>
                        <h1 id="premiumDesc">Disfruta de 275 canales, 160 en HD.</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row filtersContainer">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
                        <hr>
                        <div class="row filterToggle">
                            <div class="col-12">
                                <p class="filterToggleParagraph closeIconFilters"
                                    onclick="showFilters('filtersContent', event)"><a href="#">Filtros</a></p>
                            </div>
                        </div>
                        <hr class="marginMobile">
                        <div id="filtersContent" class="row showFilters">
                            <div class="col-12">
                                <div class="row filterClass">
                                    <div class="col-12">
                                        <div class="row filterClassTitle">
                                            <div class="col-12">
                                                <p>Grabado en la nube</p>
                                            </div>
                                        </div>
                                        <div class="row filterItem">
                                            <div class="col-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="cloudFilter"
                                                        id="allRadio" value="cloudFilter">
                                                    <label class="form-check-label" for="allRadio">
                                                        Todos
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row filterItem">
                                            <div class="col-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="cloudFilter"
                                                        id="automaticRadio" value="cloudFilter">
                                                    <label class="form-check-label automaticLabel" for="automaticRadio">
                                                        Automatico
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row filterItem">
                                            <div class="col-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="cloudFilter"
                                                        id="manualRadio" value="cloudFilter">
                                                    <label class="form-check-label manualLabel" for="manualRadio">
                                                        Manual
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row filterClass">
                                    <div class="col-12">
                                        <div class="row filterClassTitle">
                                            <div class="col-12">
                                                <p>Categoria</p>
                                            </div>
                                        </div>
                                        <div class="row filterItem">
                                            <div class="col-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="filterName"
                                                        id="filterRadio" value="filterName">
                                                    <label class="form-check-label" for="filterRadio">
                                                        Nombre filtro
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row filterClass">
                                    <div class="col-12">
                                        <div class="row filterClassTitle">
                                            <div class="col-12">
                                                <p>Categoria</p>
                                            </div>
                                        </div>
                                        <div class="row filterItem">
                                            <div class="col-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="filterName2"
                                                        id="filterName2" value="filterName2">
                                                    <label class="form-check-label" for="filterName2">
                                                        Nombre filtro
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row buttonRow">
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                                        <a type="submit" class="generalButton"
                                            onclick="showFilters('filtersContent', event);">Cancelar</a>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                                        <input type="submit" class="generalButton" value="Filtrar">
                                    </div>
                                </div>
                            </div>
                            <hr class="marginMobile">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-10 col-xl-10 channelContainer">
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col-12 mx-auto channelItem">
                                        <div class="row channelItemImage">
                                            <div class="col-12">
                                                <img src="../assets/img/nuevos/canales/logoCanal.png">
                                            </div>
                                        </div>
                                        <div class="row channelItemName rewind">
                                            <div class="col-12">
                                                <p>000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col-12 mx-auto channelItem">
                                        <div class="row channelItemImage">
                                            <div class="col-12">
                                                <img src="../assets/img/nuevos/canales/logoCanal.png">
                                            </div>
                                        </div>
                                        <div class="row channelItemName normalrewind">
                                            <div class="col-12">
                                                <p>000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col-12 mx-auto channelItem">
                                        <div class="row channelItemImage">
                                            <div class="col-12">
                                                <img src="../assets/img/nuevos/canales/logoCanal.png">
                                            </div>
                                        </div>
                                        <div class="row channelItemName">
                                            <div class="col-12">
                                                <p>000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col-12 mx-auto channelItem">
                                        <div class="row channelItemImage">
                                            <div class="col-12">
                                                <img src="../assets/img/nuevos/canales/logoCanal.png">
                                            </div>
                                        </div>
                                        <div class="row channelItemName">
                                            <div class="col-12">
                                                <p>000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col-12 mx-auto channelItem">
                                        <div class="row channelItemImage">
                                            <div class="col-12">
                                                <img src="../assets/img/nuevos/canales/logoCanal.png">
                                            </div>
                                        </div>
                                        <div class="row channelItemName">
                                            <div class="col-12">
                                                <p>000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                                <div class="row">
                                    <div class="col-12 mx-auto channelItem">
                                        <div class="row channelItemImage">
                                            <div class="col-12">
                                                <img src="../assets/img/nuevos/canales/logoCanal.png">
                                            </div>
                                        </div>
                                        <div class="row channelItemName">
                                            <div class="col-12">
                                                <p>000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 mx-auto channelDescriptionRow">
                                <div class="closeChannelBanner"></div>
                                <div class="row align-items-center">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 channelDescriptionCol">
                                        <h1 class="normalrewind">101 - Azteca Uno</h1>
                                        <p>Vive la diversión, el entretenimiento, el mundo del espectáculo, los hechos
                                            de la noticia, la libertad del análisis político y la pasión del deporte.
                                        </p>
                                        <span>No te pierdas ningún episodio, este canal se graba automáticamente.</span>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 channelImageCol">
                                        <img src="../assets/img/nuevos/canales/img_canales.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mainChannelBanners">
                    <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mx-auto">
                        <div class="row">
                            <div class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4 channelBannersItem mx-auto">
                                <div class="row">
                                    <div class="col-11 mx-auto channelBannersImage">
                                        <img src="../assets/img/nuevos/canales/card.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4 channelBannersItem mx-auto">
                                <div class="row">
                                    <div class="col-11 mx-auto channelBannersImage">
                                        <img src="../assets/img/nuevos/canales/card.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4 channelBannersItem mx-auto">
                                <div class="row">
                                    <div class="col-11 mx-auto channelBannersImage">
                                        <img src="../assets/img/nuevos/canales/card.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row extraBanners">
                    <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 mx-auto">
                        <div class="row extraBannersTitle">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <h1>Disfruta aún mas entretenimiento agregando Canales Premium a tu paquete.</h1>
                            </div>
                        </div>
                        <div class="row extraBannerContainer hboBanner">
                            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-lx-11 mx-auto extraBannerChannel">
                                <div class="row align-items-center">
                                    <div
                                        class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4 mx-auto mx-sm-auto extraBannerChannelCol">
                                        <div class="row">
                                            <div class="col-12 extraBannerLogo">
                                                <img src="../assets/img/nuevos/hboLogo.svg">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 extraBannerIncluded">
                                                <p>Incluido con TV Premium</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 extraBannerDescription">
                                                <p>Incluye 10 canales HD + HBO OnDemand + HBO Go</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 extraBannerLink">
                                                <a href="#">Mas información</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 extraBannerImageCol">
                                        <div class="row">
                                            <div class="col-12">
                                                <img src="../assets/img/nuevos/canales/ArteHBO.jpg" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="row extraBannerLinkImage">
                                            <div class="col-12">
                                                <a href="#">Mas información</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row extraBannerContainer foxBanner">
                            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-lx-11 mx-auto extraBannerChannel">
                                <div class="row align-items-center">
                                    <div
                                        class="col-11 col-sm-11 col-md-4 col-lg-4 col-xl-4 mx-auto mx-sm-auto extraBannerChannelCol">
                                        <div class="row">
                                            <div class="col-12 extraBannerLogo">
                                                <img src="../assets/img/nuevos/hboLogo.svg">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 extraBannerIncluded">
                                                <p>Incluido con TV Premium</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 extraBannerDescription">
                                                <p>Incluye 10 canales HD + Fox Premium en todas tus pantallas.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 extraBannerLink">
                                                <a href="#">Mas información</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 extraBannerImageCol">
                                        <div class="row">
                                            <div class="col-12">
                                                <img src="../assets/img/nuevos/canales/ArteHBO.jpg">
                                            </div>
                                        </div>
                                        <div class="row extraBannerLinkImage">
                                            <div class="col-12">
                                                <a href="#">Mas información</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div id="mobile" class="mobileMenuContainer d-md-none">
        <div class="mobileMenu">
            <div class="row mobileHeader">
                <div class="col-12 col-sm-12">
                    <div class="row">
                        <div class="col-12 col-sm-12 mx-auto locationButton">
                            <a href="#" onclick="showModal('userLocationModal');">Validar ubicación</a>
                        </div>
                    </div>
                    <div class="row headerTopMenu">
                        <div class="col-2 col-sm-2 mobileToggle">
                            <a id="closeIcon" href="#" onclick="closeMenu();"><i class="fas fa-times"></i></a>
                        </div>
                        <div class="col-8 col-sm-8 col-md-2 col-lg-2 col-xl-1 logoContainer">
                            <a href="index.html"><img src="{{root}}/assets/img/nuevos/totalplay-logoWhite.svg"
                                    alt="Totalplay"></a>
                        </div>
                        <div class="col-2 col-sm-2 d-block d-sm-block d-md-none mobileCart">
                            <a href="#"><img src="{{root}}/assets/img/nuevos/icons/account.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
            <ul>
                <li><a href="https://totalgo.totalplay.com.mx:444/TPW/TotalPlay.htm" target="_blank"><img
                            src="{{root}}/assets/img/nuevos/icons/liveTv.svg"><span>Ver la Tv</span></a></li>
                <li><a href="#"><img src="{{root}}/assets/img/nuevos/icons/cart.svg">Carrito</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="paquetes.html">Paquetes</a></li>
                <li><a href="soporte.html">Ayuda y soporte</a></li>
            </ul>
            <div class="row bottomMobileMenu">
                <div class="col-3 bottomMobileMenuItem activeItem">
                    <a href="index.html">Hogar</a>
                </div>
                <div class="col-3 bottomMobileMenuItem">
                    <a href="https://www.negociostotalplay.com.mx/?utm_source=sitio&utm_medium=header"
                        target="_blank">Negocio</a>
                </div>
                <div class="col-3 bottomMobileMenuItem">
                    <a href="https://totalplayempresarial.com.mx/?utm_source=sitio&utm_medium=header"
                        target="_blank">Empresa</a>
                </div>
                <div class="col-3 bottomMobileMenuItem">
                    <a href="https://www.totalplay.dev/micuenta/?fromSite=https://totalplay.c6exvb10-totalplay1-d1-public.model-t.cc.commerce.ondemand.com/totalplaystorefront/totalplay/es"
                        target="_blank">Totalplay shop</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{root}}/assets/js/nuevos/jquery-3.5.1.min.js"></script>
<script src="{{root}}/assets/js/nuevos/bootstrap.bundle.min.js"></script>
{{#ifpage 'index'}}
<script src="{{root}}/assets/js/nuevos/homeFunctions.js"></script>
<script src="{{root}}/assets/js/nuevos/isInViewport.js"></script>
{{/ifpage}}
{{#ifpage 'servicios'}}
<script src="{{root}}/assets/js/nuevos/serviciosFunctions.js"></script>
<script src="{{root}}/assets/js/nuevos/isInViewport.js"></script>
<script src="{{root}}/assets/js/nuevos/slick.min.js"></script>
{{/ifpage}}
{{#ifpage 'app'}}
<script src="{{root}}/assets/js/nuevos/parallax.min.js"></script>
<script src="{{root}}/assets/js/nuevos/slick.min.js"></script>
<script src="{{root}}/assets/js/nuevos/isInViewport.js"></script>
<script src="{{root}}/assets/js/nuevos/appFunctions.js"></script>
{{/ifpage}}
{{#ifpage 'faq'}}
<script src="{{root}}/assets/js/nuevos/faqFunctions.js"></script>
{{/ifpage}}
{{#ifpage 'amazon' 'blim' 'comedycentral' 'discoverykids' 'fox' 'hbo' 'hotpack' 'internet' 'mtv' 'netflix' 'nickelodeon' 'nogginparamount' 'ondemand' 'starz' 'telefonia' 'television' 'tunein' 'starz' 'tunein' 'youtube'}}
<script src="{{root}}/assets/js/nuevos/landingsFunctions.js"></script>
<script src="{{root}}/assets/js/nuevos/slick.min.js"></script>
{{/ifpage}}
{{#ifpage 'asistencia'}}
<script src="{{root}}/assets/js/nuevos/asistenciaFunctions.js"></script>
<script src="{{root}}/assets/js/nuevos/slick.min.js"></script>
{{/ifpage}}
{{#ifpage 'regular' 'unbox' 'match'}}
<script src="{{root}}/assets/js/nuevos/paquetesFunctions.js"></script>
<script src="{{root}}/assets/js/nuevos/slick.min.js"></script>
{{/ifpage}}
{{#ifpage 'detallePaquete1'}}
<script src="{{root}}/assets/js/nuevos/detallePaqueteFunctions.js"></script>
<script src="{{root}}/assets/js/nuevos/isInViewport.js"></script>
{{/ifpage}}
<script src="{{root}}/assets/js/nuevos/functions.js"></script>
<script src="{{root}}assets/vendor/encripcion/secBase.js"></script>
<script src="{{root}}assets/js/scripts-min.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD-eEQ9mY-nvizKc-jDI0SaaLnDdihJAU&libraries=places"></script>

</html>