<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Internet, TV, telefonía fija, plataformas de streaming y más dentro de los servicios Totalplay. Además, obtén una conexión de máxima velocidad. ¡Da clic!"/>
        <link rel="icon" type="image/png" href="assets/img/Total_icon.png">

        <link href="{{root}}assets/font/">
        <link rel="stylesheet" type="text/css" href="{{root}}assets/css/seo/seo.css">
        <title>Conoce los Beneficios que te Ofrecemos | Servicios Totalplay</title>
        {{> cxense}}
    </head>

    <body class="main-{{page}}">
        <div id="x-cover" style="background-color: #fff; width: 100%;height:100vh; position: absolute; z-index: 1000;"></div>
        {{> header}}
        {{> body}}
        {{> footer}}
    </body>
    <link rel="stylesheet" href="{{root}}assets/css/styles.css">
    <link rel="stylesheet" href="{{root}}assets/css/generales.css" />
    <script src="{{root}}assets/vendor/js/jquery-3.5.1.min.js"></script>
    <script src="{{root}}assets/vendor/encripcion/secBase.js"></script>
    <script src="{{root}}assets/js/scripts-min.js"></script>

</html>