<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{root}}assets/css/styles.css">
    <script type="text/javascript" src="assets/vendor/lib/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/scroll-utility@4.0.0/dist/scroll-utility.js"></script>
    <title>Totalplay | {{page}}</title>
    {{> cxense}}
</head>

<body class="main-{{page}}">
    {{> header}}
    {{> body}}
    {{> footer}}
</body>

<link rel="stylesheet" href="{{root}}assets/css/generales.css" />
<script src="{{root}}assets/vendor/encripcion/secBase.js"></script>
<script src="{{root}}assets/js/scripts-min.js"></script>

</html>